<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audio.electric.mapper.ApkMapper">
    <select id="checkApk" resultType="Apk">
        select id, apk_name as apkName,
         apk_version as apkVersion,
         apk_path as apkPath,
         server_url as serverUrl ,
         status
        from apk where status = 1
    </select>
</mapper>