<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audio.electric.mapper.CommonMapper">
    <select id="getCommentsById" resultType="long">
        select distinct portfolio_id as portfolioId from portfolio_comments where user_id = #{user_id}
    </select>

    <select id="getAttentionById" resultType="long">
        select be_user_id as beUserId from attention where user_id = #{user_id}
    </select>

    <select id="getGiftGivingById" resultType="long">
        select distinct portfolio_id as portfolioId from gift_giving where user_id = #{user_id}
    </select>

    <select id="getGoodsById" resultType="long">
        select portfolio_id as portfolioId from portfolio_goods where user_id = #{user_id}
    </select>

    <select id="getCollectionsById" resultType="long">
        select portfolio_id as portfolioId from portfolio_collection where user_id = #{user_id}
    </select>

    <select id="getSongCollectionsById" resultType="long">
        select song_id as songId from song_collections where user_id = #{user_id}
    </select>

    <select id="getUserById" resultType="User">
        select id from user where id = #{_paramter}
    </select>

    <select id="getPortfolioById" resultType="Portfolio">
        select id from portfolio where id = #{_paramter}
    </select>

    <select id="getGiftById" resultType="Gift">
        select id from gift where id = #{_paramter}
    </select>

    <select id="getMyGiftAmount" resultType="MyGift">
        select sum(amount) as amount,gift_id as giftId,user_id as userId from mygift where user_id=#{userId} and gift_id=#{giftId}
    </select>
</mapper>