<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audio.electric.mapper.ProductMapper">
<select id="getExpiryDateBySerialNo" parameterType="string" resultType="Product">
    select expirydate from product where serial_no = #{_parameter}
</select>
</mapper>