<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="音特"/>
    <meta name="keywords" content="音特，音特电子，话筒"/>
    <meta name="description" content="音特电子，话筒"/>
    <title>音特电子</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <!-- 通用头部-->
    <header class="header" th:include="/public/_header"></header>
    <!-- 内容区-->
    <section class="content">
        <div class="container">
            <!--位置导航-->
            <div class="navAdd">
                <div class="navAdd-block">
                    <a class="navAdd-a" href="index.html">首页</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a" href="#">购物车</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a" href="#">确认订单</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a" href="#">在线支付</a>
                </div>
            </div>
            <!--标题-->
            <div class="shopCart-top clearfix">
                <span class="f-24">在线支付</span>
            </div>
            <!--在线支付内容区-->
            <div class="payContent">
                <i class="iconfont icon-duigou payOk"></i>
                <div class="payOrder">
                    <p class="payOrder-p">订单提交成功，请您尽快付款！订单金额：<span th:text="'￥'+${orders.price}"></span></p>
                    <p class="payOrder_tips">请您在提交订单后<span class="yellowColor">72小时</span>内完成支付，否则订单将会自动取消</p>
                    <div class="moreOrderDetail">
                        <p>订单编号：<span class="order_num" th:text="${orders.Id}"></span></p>
                        <!--<p>商品名称：<span class="order_name" >卡拉OK  E5</span></p>-->
                    </div>
                    <p class="orderInfo">收货信息：<span class="order-name" th:text="${orders.recipients}"></span> <span class="order-call" th:text="${orders.tel}"></span> <span class="order-add" th:text="${orders.address}"></span></p>
                    <a class="orderMore" id="js_moreDetail">订单详情 <i class="iconfont icon-down-trangle"></i></a>
                </div>
            </div>
            <div class="onlinePayWay clearfix">
                <p class="f-24">在线支付</p>
                <ul id="choosePay" class="choose clearfix">
                    <li>
                        <input name="item" type="radio" id="item1" value="支付宝支付">
                        <label for="item1">
                            <i class="iconfont icon-zhifubao1"></i>
                            支付宝支付
                        </label>
                    </li>
                    <li>
                        <input name="item" type="radio" id="item2" value="微信支付">
                        <label for="item2">
                            <i class="iconfont icon-weixin"></i>
                            微信支付
                        </label>
                    </li>
                </ul>
                <div class="goPay pull-right">
                    实付金额：<span class="priceIcon">￥</span><span id="payPrice">1999.00</span>
                    <a class="goPay-a" href="#">立即支付</a>
                </div>
            </div>
        </div>

    </section>

    <!-- footer-->
    <footer id="footer" th:include="/public/_footer">
    </footer>
</div>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-2.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript">
    $(function () {
        $('#js_moreDetail').click(function () {
            $('.moreOrderDetail').toggleClass('dis_block');
            $(this).find('.iconfont').toggleClass('icon-down-trangle icon-up');
        })
    })
</script>
</body>
</html>