<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="音特"/>
    <meta name="keywords" content="音特，音特电子，话筒"/>
    <meta name="description" content="音特电子，话筒"/>
    <title>音特电子</title>
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/public/common.css}">
    <link rel="stylesheet" th:href="@{/css/person/person.css}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <!-- 通用头部-->
    <header class="header navbar-fixed-top" th:include="/public/_header::header"></header>
    <!-- 内容区-->
    <section class="content">
        <div class="container">
            <!--位置导航-->
            <div class="navAdd">
                <div class="navAdd-block">
                    <a class="navAdd-a" th:href="@{/}">首页</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a" th:href="@{/user/orders/view}">会员中心</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a active" th:href="@{/user/orders/view}">我的订单</a>
                </div>
            </div>
            <!--个人中心-->
            <div class="person">
                <div class="row" th:with="activeState=1">
                    <div  class="col-lg-3 col-md-2" th:include="/public/person_data::person_data"></div>
                    <div class="col-lg-9 col-md-10">
                        <div class="myOrder">
                            <div class="orderTitle">
                                <span class="f-24">订单详情</span>
                            </div>
                            <!--该不同的class名-->
                            <!--/*@thymesVar id="orders" type="com.enter.entity.Orders"*/-->
                            <div th:class="${orders.orderState == '1'}? 'order_detailBlock beforeOrder':(${orders.orderState == '2'}? 'order_detailBlock paid':(${orders.orderState == '3'}? 'order_detailBlock soldOrder':(${orders.orderState == '4'}? 'order_detailBlock successOrder':('order_detailBlock closedOrder'))))">
                                <div class="orderDetailProcess">
                                    <div class="line">
                                        <div class="redLine51"></div>
                                        <div class="redLine52"></div>
                                        <div class="redLine53"></div>
                                        <div class="redLine54"></div>
                                        <div class="redLine55"></div>
                                    </div>
                                    <div class="row stateRow">
                                        <div class="col-20">
                                            <div class="detailOfferOrder">
                                                <div class="detailCircle"></div>
                                                <p>提交订单</p>
                                                <p class="offerTime" th:text="${orders.generateTime}"></p>
                                            </div>
                                        </div>
                                        <div class="col-20">
                                            <div class="detailFendOrder">
                                                <div class="detailCircle"></div>
                                                <p>付款成功</p>
                                                <p class="offerTime" th:text="${orders.payDate}"></p>
                                            </div>
                                        </div>
                                        <div class="col-20">
                                            <div class="detailOutOrder">
                                                <div class="detailCircle"></div>
                                                <p>商品发货</p>
                                                <p class="offerTime" th:text="${orders.payDate}"></p>
                                            </div>
                                        </div>
                                        <div class="col-20">
                                            <div class="detailDeliverOrder">
                                                <div class="detailCircle"></div>
                                                <p>等待收货</p>
                                                <p class="offerTime" th:text="${orders.payDate}"></p>
                                            </div>
                                        </div>
                                        <div class="col-20">
                                            <div class="detailFinishOrder">
                                                <div class="detailCircle"></div>
                                                <p>交易成功</p>
                                                <p class="offerTime" th:text="${orders.successTime}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orderDetailDo clearfix">
                                        <div class="pull-left" th:switch="${orders.orderState}">
                                            <p>订单状态：<span class="orderDetailDo_state" th:text=" ${orders.orderState=='1'}?'待付款':(${orders.orderState=='2' || orders.orderState=='3'}?'已付款':(${ orders.orderState=='4' }?'待收货':(${orders.orderState=='5'}?'已完成':'已关闭')))"></span><span class="orderDetailDo_name" th:text=" ${orders.orderState=='1'}?'应付金额：':'已付金额：'">

                                            </span> <span class="orderDetailDo_money" th:text="'￥'+ ${orders.price}"></span></p>
                                            <p th:case="1" class="order_bc" ><span class="orderDetailDo_time" id="countTime" th:title="${orders.leftTime}"></span>  <span class="order_tips">内未付款，将自动取消订单。</span></p>
                                            <p th:case="2" class="order_bc" ><span class="orderDetailDo_time">已付款</span><span class="order_tips">商品准备出货，请耐心等待！</span></p>
                                            <p th:case="3" class="order_bc" ><span class="orderDetailDo_time">已付款</span>  <span class="order_tips">商品准备出货，请耐心等待！</span></p>
                                            <p th:case="4" class="order_bc" ><span class="orderDetailDo_time">已发货</span>  <span class="order_tips">签收商品时，请当面检查商品在运输过程中是否有损坏。</span></p>
                                            <p th:case="5" class="order_bc" ><span class="orderDetailDo_time"><font th:text="${orders.recipients}"></font>已收货</span>  <span class="order_tips">商品已签收</span></p>
                                            <p th:case="6" class="order_bc" ><span class="orderDetailDo_time">订单已关闭</span>  <span class="order_tips"></span></p>
                                        </div>
                                        <div class="orderDetailDo_btns pull-right" th:switch="${orders.orderState}">
                                            <!--未付款-->
                                            <div th:case="1">
                                                <a class="gotoBuy" th:href="'/user/orders/onlinePay/view/'+${orders.orderNum}" id="goPay">去结算</a>
                                                <a class="gotoBuy cancelOrder" href="javascript:void(0)" th:onclick="'cancerOrders(&quot;'+${orders.orderNum}+'&quot;'+')'" id="cancelOrder">取消订单</a>
                                            </div>
                                            <div th:case="2">
                                                <a class="gotoBuy cancelOrder" href="javascript:void(0)" th:onclick="'cancerOrders(&quot;'+${orders.orderNum}+'&quot;'+')'" id="cancelOrder">取消订单</a>
                                            </div>
                                            <div th:case="3">
                                                <a class="gotoBuy cancelOrder" href="javascript:void(0)" th:onclick="'cancerOrders(&quot;'+${orders.orderNum}+'&quot;'+')'" id="cancelOrder">取消订单</a>
                                            </div>
                                            <!--发送中-->
                                            <a th:case="4" class="gotoBuy" th:href="@{/user/delivery/delivery_info}">查看物流</a>
                                            <a th:case="5" class="gotoBuy" th:href="@{/user/sale_services/apply_service}">申请售后</a>
                                            <!--交易完成-->
                                            <a th:case="6" class="gotoBuy" th:href="@{/user/sale_services/apply_service}">申请售后</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableHead orderDetail_tableHead">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div>商品</div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>单价（元）</div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>数量</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>状态</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="myOrderNum">
                                    <span class="orderNumber">订单编号：<span class="order_number" th:text="${orders.orderNum}"></span></span>
                                    <span >成交时间：<span class="order_time" th:text="${orders.payDate}"></span></span>
                                </div>
                                <div class="tableContent">
                                    <div class="myOrderList" th:each="trolley:${orders.trolleys}" th:with="product=${trolley.getProduct()}">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="goods orderGoods clearfix">
                                                    <a th:href="'/product/view/id/'+${product.getId()}">
                                                        <div class="goods-img">
                                                            <img  th:src="${product.thumbnail3}" alt=""/>
                                                        </div>
                                                        <p class="goods-name" th:text="${product.categoryName+ ' '+product.name}"></p>
                                                        <p class="goods-color" th:text="'颜色：'+${product.color}+' '+${trolley.series}"></p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="myOrderMoney" th:text="'￥'+${product.priceSale}"></div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="myOrderNumber" th:text="${trolley.count}"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="myOrderState orderDetail_state" th:text="${orders.orderState == '1'}?'待付款':(${orders.orderState == '2'}?'已付款':(${orders.orderState == '3'}?'已付款':(${orders.orderState == '4'}?'待收货':(${orders.orderState == '5'}?'已完成':'已关闭'))))"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="myOrderTotal clearfix">
                                        <p class="myOrderTotal_p pull-right">应付总额<!--（运费：<span class="deliveryMoney">¥5.00</span>，优惠：<span class="saleOffMoney">¥100.00</span>）-->：<span class="finalMoney" th:text="'￥'+${orders.price}"></span></p>
                                    </div>
                                </div>
                                <div class="orderDetail_content" th:switch="${orders.orderState}">
                                    <p class="orderDetail_content_t">
                                        收货地址
                                        <span th:case="1" class="edit" data-toggle="modal" data-target="#addModal">编辑</span>
                                        <span th:case="2" class="edit" data-toggle="modal" data-target="#addModal">编辑</span>
                                        <span th:case="3" class="edit" data-toggle="modal" data-target="#addModal">编辑</span>
                                    </p>
                                    <p>收货人：<span class="clientName" th:text="${orders.recipients}"></span></p>
                                    <p>手机号： <span class="clientNum" th:text="${orders.tel}"></span></p>
                                    <p>收货地址：<span class="clientAdd" th:text="${orders.address}"></span></p>
                                </div>
                                <div class="orderDetail_content" th:switch="${orders.orderState}">
                                    <p class="orderDetail_content_t">电子发票
                                        <span th:case="1" class="edit" data-toggle="modal" data-target="#invoiceModal">编辑</span>
                                        <span th:case="2" class="edit" data-toggle="modal" data-target="#invoiceModal">编辑</span>
                                        <span th:case="3" class="edit" data-toggle="modal" data-target="#invoiceModal">编辑</span>
                                    </p>
                                    <p>发票抬头：<span class="clientInvoice">深圳市滴用有限公司</span></p>
                                    <p>纳税人识别号：<span class="clientAdd">123456789012345</span></p>
                                </div>
                                <div class="orderDetail_content" th:switch="${orders.orderState}">
                                    <p class="orderDetail_content_t">订单备注
                                        <span th:case="1" class="edit" data-toggle="modal" data-target="#bzModal">编辑</span>
                                        <span th:case="2" class="edit" data-toggle="modal" data-target="#bzModal">编辑</span>
                                        <span th:case="3" class="edit" data-toggle="modal" data-target="#bzModal">编辑</span>
                                    </p>
                                    <p class="clientWord">请开纸质发票，谢谢！</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer-->
    <footer id="footer" th:include="/public/_footer::footer">
    </footer>
</div>
<!-- addModal -->
<div class="modal myInfoModal addressModal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close iconfont icon-close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></i>
                <h4 class="modal-title" id="addModalLabel">更改地址</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-2 control-label"><span class="redColor">*</span>收货人：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUser" value="吴迪">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label"><span class="redColor">*</span>手机号码：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPhone" value="18022823329">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="redColor">*</span>收货地址：</label>
                        <div class="col-sm-10">
                            <div class="address-box clearfix" id="select-area">
                                <select class="form-control" id="province"></select>
                                <select class="form-control" id="city"></select>
                                <select class="form-control" id="area"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddDetail" class="col-sm-2 control-label"><span class="redColor">*</span>详细地址：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAddDetail">
                        </div>
                    </div>
                    <div class="form-group addModal_form">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <input class="check-one check" type="checkbox" id="choose1"/>
                                <label for="choose1"><span></span>设为默认地址</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn-red" data-dismiss="modal">完成</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- invoiceModal -->
<div class="modal myInfoModal addressModal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close iconfont icon-close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></i>
                <h4 class="modal-title" id="invoiceModalLabel">电子发票</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="invoice" class="col-sm-3 control-label"><span class="redColor">*</span>发票类型：</label>
                        <div class="col-sm-9">
                            <ul id="invoice" class="choose clearfix">
                                <li>
                                    <input name="invoice" type="radio" id="invoice1" value="个人发票" checked>
                                    <label for="invoice1">
                                        个人发票
                                    </label>
                                </li>
                                <li>
                                    <input name="invoice" type="radio" id="invoice2" value="公司发票">
                                    <label for="invoice2">
                                        公司发票
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="perInvoice">
                        <div class="form-group">
                            <label for="inputInvoice" class="col-sm-3 control-label"><span class="redColor">*</span>发票抬头：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputInvoice" value="吴迪">
                            </div>
                        </div>
                    </div>
                    <div id="comInvoice">
                        <div class="form-group">
                            <label for="inputInvoice1" class="col-sm-3 control-label"><span class="redColor">*</span>发票抬头：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputInvoice1" value="珠海滴用有限公司">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputInvoice2" class="col-sm-3 control-label"><span class="redColor">*</span>纳税人识别号：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputInvoice2" value="12345678910123456">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" class="btn-red" data-dismiss="modal">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- bzModal -->
<div class="modal myInfoModal addressModal fade" id="bzModal" tabindex="-1" role="dialog" aria-labelledby="bzModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close iconfont icon-close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></i>
                <h4 class="modal-title" id="bzModalLabel">订单备注</h4>
            </div>
            <div class="modal-body">
                <div id="orderWordsDiv">
                    <form class="">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea rows="5" class="sureOrder-text sureOrder-words" maxlength="200">请开纸质发票，谢谢！</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn-red" data-dismiss="modal">更新描述</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-2.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/public/countDownSeconds.js}"></script>
<script type="text/javascript">
    function cancerOrders(orderNum){
        $.ajax({url:'/user/orders/cancer/'+orderNum,type:'put',success:function(result){
            if (result.code == 1){
                alert("取消成功");
                window.location.reload();
            }else if(result.code == 2){
                window.location.href=result.url;
            }else{
                alert(result.msg);
            }
        }});
    }
    $(function () {
        // 点击编辑地址弹窗
        $('#addModal').on('show.bs.modal', function() {
            $("#select-area").selectAddress();
        });
        // 发票选择
        //点击公司发票，出现纳税人识别号，点击个人发票，纳税人识别号消失
        $('#invoice li').eq(0).click(function () {
            $('#comInvoice').hide();
            $('#perInvoice').show();
        });
        $('#invoice li').eq(1).click(function () {
            $('#comInvoice').show();
            $('#perInvoice').hide();
        });
        // 不同的状态下的显示不一样
    })

</script>
</body>
</html>