<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="音特"/>
    <meta name="keywords" content="音特，音特电子，话筒"/>
    <meta name="description" content="音特电子，话筒"/>
    <title>音特电子</title>
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <!-- 通用头部-->
    <header class="header navbar-fixed-top" th:include="/public/_header::header"></header>
    <!-- 内容区-->
    <section class="content">
        <div class="container">
            <!--位置导航-->
            <div class="navAdd">
                <div class="navAdd-block">
                    <a class="navAdd-a" th:href="@{/}">首页</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a" href="#">购物车</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a active" href="#">确认订单</a>
                </div>
            </div>
            <!--标题-->
            <div class="shopCart-top clearfix">
                <span class="f-24">确认订单</span>
            </div>
            <!--确认订单内容区--收货地址-->
            <div class="orderAdd">
                <p class="f-24 orderAdd_t">收货地址</p>
                <div class="orderAddList clearfix">
                    <div class="row">
                        <div th:class="${session.selected_address !=null ? (session.selected_address.id == address.id ? 'col-lg-3 col-md-4 defaultAdd':'col-lg-3 col-md-4') : (address.selected == 1 ? 'col-lg-3 col-md-4 defaultAdd':'col-lg-3 col-md-4')}" th:each="address:${addressList}">
                            <!--/*@thymesVar id="addressList" type="java.util.ArrayList"*/-->
                            <!--/*@thymesVar id="address" type="com.enter.entity.Address"*/-->
                            <div class="addMenu">
                                <input type="hidden" th:value="${address.id}" />
                                <p class="clearfix"><span class="addName" th:text="${address.name}"></span><span class="addNum pull-right" th:text="${address.tel}"></span></p>
                                <p class="addMenu-add" th:text="${address.absoluteAddress}"></p>
                                <p class="defaultTip">
                                    <span class="change_tip" th:text="${address.selected == '1'} ? '默认地址' : '【设为默认地址】'"></span>
                                    <span class="edit_tip js_editModal" th:onclick="'edit(' + ${address.id} + ')'">编辑</span>
                                    <span class="delete_tip" >删除</span></p>
                                <img class="addGou" th:src="@{/images/addgou.png}">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="addMenu-new" onclick="add()">
                                <div class="addMenu-div">
                                    <i class="iconfont icon-jiahao"></i>
                                    <p>添加新地址</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--支付方式-->
            <div class="orderAdd">
                <p class="f-24">支付方式</p>
                <ul id="payWay" class="choose clearfix">
                    <li>
                        <input name="way" type="radio" id="way1" value="在线支付" checked>
                        <label for="way1">
                            在线支付
                        </label>
                    </li>
                    <li>
                        <input name="way" type="radio" id="way2" value="货到付款">
                        <label for="way2">
                            货到付款
                        </label>
                    </li>
                </ul>
                <div id="paywayAli">支持支付宝支付、微信支付</div>
            </div>
            <!--电子发票-->
            <div class="orderAdd">
                <p class="f-24">电子发票</p>
                <ul id="invoice" class="choose clearfix">
                    <li>
                        <input name="invoice" type="radio" id="invoice1" value="person" checked>
                        <label for="invoice1">
                            个人发票
                        </label>
                    </li>
                    <li>
                        <input name="invoice" type="radio" id="invoice2" value="company">
                        <label for="invoice2">
                            公司发票
                        </label>
                    </li>
                </ul>
                <div class="invoiceTip" id="companyTip">
                    <div class="invoiceForm">
                        <label for="companyTitle" class="invoiceLabel"><span class="redColor">*</span>发票抬头：</label>
                        <div class="inputDiv">
                            <input type="text" class="invoiceInput" id="companyTitle" placeholder="请输入发票抬头">
                        </div>
                    </div>
                    <div class="invoiceForm" id="companyInvoice">
                        <label for="company" class="invoiceLabel"><span class="redColor">*</span>纳税人识别号：</label>
                        <div class="inputDiv">
                            <input type="text" class="invoiceInput" id="company" placeholder="请填写购买纳税人识别号或统一社会信用代码">
                        </div>
                    </div>
                </div>
                <div class="invoiceTip" id="personTip">
                    <div class="invoiceForm">
                        <label for="personal" class="invoiceLabel"><span class="redColor">*</span>发票抬头：</label>
                        <div class="inputDiv">
                            <input type="text" class="invoiceInput" id="personal" value="吴迪">
                        </div>
                    </div>
                </div>
            </div>
            <!--确认订单信息-->
            <div class="orderAdd">
                <div class="sureOrder-t clearfix"><span class="f-24">确认订单信息</span><a class="goBuy pull-right" th:href="@{/user/trolley/view}"><span class="goBack">返回购物车修改</span> <i class="iconfont icon-right f-24"></i> </a></div>
                <div class="table" id="sureOrderTable">
                    <div class="sureOrderTable_head">
                        <div class="row">
                            <div class="col-md-5">商品</div>
                            <div class="col-md-2">单价</div>
                            <div class="col-md-2">数量</div>
                            <div class="col-md-3 text-right">小计（元）</div>
                        </div>
                    </div>
                    <div class="sureOrderTable_body">
                        <!--/*@thymesVar id="product" type="com.enter.entity.Product"*/-->
                        <!--/*@thymesVar id="trolley" type="com.enter.entity.Trolley"*/-->
                        <!--/*@thymesVar id="trolleyList" type="java.util.ArrayList"*/-->
                        <div class="sureOrderTable_item" th:each="trolley:${trolleyList}" th:with="product = ${trolley.getProduct()}">
                            <div class="row">
                                <div class="col-md-5 sureOrder-goods clearfix">
                                    <a th:href="'/product/view/id/'+${product.id}">
                                        <div class="goods-img"><img width="73px" th:src="${product.thumbnail3}" alt=""/></div>
                                        <div class="goods-info">
                                            <p class="goods-name" th:text="${product.categoryName+' '+product.name}"></p>
                                            <p class="goods-color" th:text="'颜色：'+${product.color}"></p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <div class="perPrice" th:text="'￥'+${product.priceSale}"></div>
                                </div>
                                <div class="col-md-2">
                                    <div class="perNumber" th:text="${trolley.count}">1</div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="perTotalPrice" th:text="'￥'+${product.priceSale*trolley.count}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--支付方式-->
            <div class="orderAdd">
                <p class="f-24">使用优惠券</p>
                <div class="addSaleOff">+添加优惠券</div>
                <!--没有优惠券-->
                <div id="saleOff" style="">您现在还没有可以使用的优惠券，请活动期间及时领取</div>
                <!--有优惠券-->
                <!--<ul class="withDiscount clearfix" id="withDiscount">
                    <li>
                        <img class="addDiscount" th:src="@{/images/addDiscount2.jpg}">
                        <img class="discountBg js_deleteDiscount" th:src="@{/images/addDiscountBg.png}">
                    </li>
                    <li>
                        <img class="addDiscount" th:src="@{/images/addDiscount.jpg}">
                        <img class="discountBg js_deleteDiscount" th:src="@{/images/addDiscountBg.png}">
                    </li>
                    <li>
                        <img class="addDiscount" th:src="@{/images/addDiscount.jpg}">
                        <img class="discountBg js_deleteDiscount" th:src="@{/images/addDiscountBg.png}">
                    </li>
                </ul>-->
            </div>
            <!--订单备注-->
            <div class="orderAdd">
                <p class="f-24">订单备注</p>
                <textarea rows="5" class="sureOrder-text" style="color:#898888" onfocus="if(this.value=='限200字（若有特殊需求，请联系商城在线客服）') {this.value='';}this.style.color='#030304';" onblur="if(this.value=='') {this.value='限200字（若有特殊需求，请联系商城在线客服）';this.style.color='#898888';}" maxlength="200">限200字（若有特殊需求，请联系商城在线客服）</textarea>
            </div>
            <!--提交订单-->
            <!--/*@thymesVar id="priceTotal" type="java.lang.Double"*/-->
            <!--/*@thymesVar id="trolleyIds" type="java.lang.String"*/-->
            <div class="orderAdd onlinePayWay">
                <div class="offerOrder">
                    <input type="hidden" id="trolleyIds" th:value="${trolleyIds}"/><!--购物车id列表-->
                    <p>已选<span class="offerOrder-num">1</span>件商品 , 合计（不含运费）：<span class="offerOrder-money" th:text="'￥'+${priceTotal}"></span></p>
                    <p>运费：<span class="delivery-money">¥0.00</span></p>
                    <p>优惠卷抵扣：<span class="off-money">-¥0.00</span></p>
                    <p class="totalMoney">应付总额：<span class="allMoney" th:text="'￥'+${priceTotal}"></span></p>
                    <p>
                        <input type="hidden"  th:value="${session.selected_address !=null ? session.selected_address.id : ''}" /><!--地址id-->
                        收件人：<span class="offerOrder-name" th:text="${session.selected_address !=null ? session.selected_address.name:''}" id="recipients"></span>
                        <span class="offerOrder-call" th:text="${session.selected_address !=null ? session.selected_address.tel:''}" id="tel"></span>
                    </p>
                    <p>配送地址：<span class="offerOrder-add" th:text="${session.selected_address !=null ? session.selected_address.absoluteAddress : ''}" id="detailPosition"></span></p>
                    <p><a class="goPay-a" href="javascript:void(0);" onclick="sumbitOrder()">提交订单</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer-->
    <footer id="footer" th:include="/public/_footer::footer">
    </footer>
</div>
<!-- deleteModal -->
<input type="hidden" id="common_confirm_btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleteModal">
<div class="modal myInfoModal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close iconfont icon-close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></i>
            </div>
            <div class="modal-body">
                <h4 class="modal-title deleteModal_t" id="deleteModalLabel">确定删除该地址?</h4>
                <div class="modal-btns">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn-qx ok" data-dismiss="modal">确定</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn-red cancel" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- addModal -->
<div class="modal myInfoModal addressModal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close iconfont icon-close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></i>
                <h4 class="modal-title" id="addModalLabel">添加新地址</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addAddress_form" action="/address/add" method="post">
                    <div class="form-group">
                        <input type="hidden" id="addressId" name="id" th:value="${session.selected_address != null ? session.selected_address.id :''}"/>
                        <label for="inputUser" class="col-sm-2 control-label"><span class="redColor">*</span>收货人：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUser" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-2 control-label"><span class="redColor">*</span>手机号码：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPhone" name="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="redColor">*</span>收货地址：</label>
                        <div class="col-sm-10">
                            <div class="address-box clearfix" id="select-area">
                                <input type="hidden" id="provinceVal" name="province"/>
                                <input type="hidden" id="cityVal" name="city"/>
                                <input type="hidden" id="areaVal" name="area"/>
                                <select class="form-control" id="province" name="provinceId"></select>
                                <select class="form-control" id="city" name="cityId"></select>
                                <select class="form-control" id="area" name="areaId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddDetail" class="col-sm-2 control-label"><span class="redColor">*</span>详细地址：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAddDetail" name="detailPosition">
                        </div>
                    </div>
                    <div class="form-group addModal_form">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <input class="check-one check" type="checkbox" id="choose1" name="selected" checked="checked" value="1"/>
                                <label for="choose1"><span></span>设为默认地址</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="btn-submit" type="button" class="btn-red" onclick="addAddress()">完成</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-2.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-migrate-1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/orders/order_confirm.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>