@charset "UTF-8";

.shopCart-top {
    padding: 0 80px;
    background: #fff;
    height: 82px;
    line-height: 82px; }

#cartTable {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px; }

#cartTable .table_row {
    background: #fff; }

.carHead {
    padding: 0 80px;
    height: 62px;
    line-height: 62px;
    border-bottom: 1px solid #f3f3f3; }

.carHead_left {
    text-align: left; }

.item {
    padding: 24px 80px;
    border-bottom: 1px solid #f3f3f3; }

.item_left {
    padding: 0;
    height: 102px;
    line-height: 102px;
    text-align: left; }

.item_height {
    height: 102px;
    line-height: 102px; }

.checkbox {
    width: 48px;
    margin: 0; }

.checkbox label {
    padding: 0; }

input[type='checkbox'] {
    display: none; }

input[type="checkbox"] + label span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 18px;
    height: 18px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(../images/check.jpg) center no-repeat;
    cursor: pointer; }

input[type="checkbox"]:checked + label span {
    background: url(../images/checked.jpg) center no-repeat; }

.item_left input[type="checkbox"] + label span {
    margin: -2px auto 0; }

.item_left .checkbox {
    width: auto;
    margin-left: 15px; }

.check-all {
    vertical-align: middle; }

.goods {
    width: 400px; }

.goods .goods-name {
    width: 180px;
    margin-top: 20px;
    text-align: left;
    float: left; }

.goods .goods-color {
    width: 180px;
    margin-top: 5px;
    text-align: left;
    float: left;
    color: #898888; }

.goods .goods-img {
    width: 102px;
    height: 102px;
    border: 1px solid #f3f3f3;
    text-align: center;
    margin-right: 35px;
    float: left; }

.price {
    width: 130px; }

.count {
    width: 100px; }

.count .add, .count-input, .count .reduce {
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0; }

.count .add, .count .reduce {
    height: 30px;
    width: 30px;
    border: 1px solid #898888;
    text-align: center;
    line-height: 23px;
    color: #444; }

.count .add:hover, .count .reduce:hover {
    z-index: 3;
    color: #ff6000;
    cursor: pointer; }

.count-input {
    width: 40px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #898888;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    z-index: 2; }

.count-input:focus {
    outline: none; }

.subtotal {
    width: 150px; }

.operation {
    text-align: right;
    font-weight: bold; }

.operation span:hover, .operation a:hover {
    cursor: pointer;
    color: #ff6000; }

.item_img .goods-img {
    margin-left: 20px; }

.item_height .count {
    width: 100px;
    height: 30px;
    margin: 36px auto; }

.item_height .operation {
    text-align: center; }

.gifts {
    margin-top: 30px; }

.gifts .myOrderList_gifts {
    padding: 0 0 0 20px; }

.gifts .gifts_t {
    width: 130px;
    text-align: right;
    margin-left: 0; }

.foot {
    height: 82px;
    line-height: 82px;
    position: relative;
    z-index: 8; }

.foot_block {
    background: #fff;
    padding: 0 80px;
    height: 82px;
    line-height: 82px; }

.foot .select-all {
    text-align: center; }

.foot .delete {
    padding-left: 40px;
    padding-right: 40px; }

.foot .closing {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    top: -3px;
    border: 1px solid #fe3232;
    background: #fe3232;
    width: 122px;
    height: 54px;
    margin-left: 75px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px; }

.foot .closing:hover {
    background: #ff4747;
    color: #fff; }

.foot .total {
    cursor: pointer; }

.foot #selectedTotal, .foot #chooseAll {
    color: #ff6000;
    font-weight: bold; }

.foot #priceTotal, .foot .priceIcon {
    color: #ff6000;
    font-size: 30px;
    font-weight: normal; }

.foot .selected {
    cursor: pointer; }

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e8e7e7;
    box-shadow: 0 0 10px #e8e7e7; }

.deleteModal_t {
    margin-bottom: 28px; }

.withNoShopCart {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center; }

.withNoShopCart_p {
    font-size: 16px;
    margin-top: 30px; }

.goProduct {
    color: #ff6000; }

.orderAdd {
    background: #fff;
    margin: 35px 0;
    padding: 28px 80px; }

.orderAdd_t {
    margin-bottom: 28px; }

.addMenu, .addMenu-new {
    width: 100%;
    height: 180px;
    border: 2px solid #898888;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 30px;
    cursor: pointer;
    float: left;
    position: relative;
    overflow: hidden; }

.addGou {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden; }

.addMenu-new {
    margin-right: 0; }

.defaultAdd .addMenu {
    border-color: #ff6000; }

.defaultAdd .addGou {
    visibility: visible; }

.addMenu-add {
    margin: 20px 0;
    height: 50px; }

.addMenu-add {
    line-height: 1.8;
    width: 200px; }

.defaultAdd .change_tip {
    visibility: visible; }

.defaultTip {
    color: #ff6000;
    visibility: hidden; }

.addMenu:hover .defaultTip {
    visibility: visible; }

.addMenu-div {
    text-align: center;
    margin-top: 30px; }

.addMenu-div .iconfont {
    font-size: 30px;
    color: #898888; }

#paywayAli, #saleOff {
    background: url("../images/payAli-bg.png") no-repeat;
    width: 400px;
    height: 61px;
    color: #898888;
    text-align: left;
    padding-top: 27px;
    padding-left: 50px;
    margin-top: 20px; }

#saleOff {
    padding-left: 20px; }

.withDiscount {
    margin-top: 20px; }

.withDiscount li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 206px;
    float: left;
    margin-right: 25px;
    position: relative;
    cursor: pointer; }

.discountBg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0; }

.withDiscount li:hover .discountBg {
    opacity: 1; }

.invoiceForm {
    margin-top: 28px; }

.invoiceLabel {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 130px;
    vertical-align: middle;
    color: #898888; }

.inputDiv {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }

.invoiceInput {
    width: 400px;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    color: #030304; }

.invoiceInput:focus {
    outline: none; }

.redColor {
    color: #ff6000; }

#companyTip {
    display: none; }

.sureOrder-t {
    line-height: 34px; }

.sureOrder-t .goBack, .sureOrder-t .iconfont, .goBuy .iconfont, .shopCart-top .iconfont {
    vertical-align: middle; }

#sureOrderTable {
    margin-top: 30px;
    margin-bottom: 0; }

#sureOrderTable .sureOrderTable_head {
    border-top: 1px solid #f3f3f3;
    padding: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #f3f3f3; }

#sureOrderTable .sureOrderTable_item {
    height: 176px;
    line-height: 176px;
    text-align: center; }

.sureOrder-goods {
    text-align: left; }

.sureOrder-goods .goods-name {
    text-align: left;
    height: auto;
    line-height: normal; }

.sureOrder-goods .goods-color {
    margin-top: 5px;
    text-align: left;
    color: #898888;
    height: auto;
    line-height: normal; }

.goods-info {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }

.sureOrder-goods .goods-img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 102px;
    height: 102px;
    line-height: 102px;
    border: 1px solid #f3f3f3;
    text-align: center;
    margin-right: 50px; }

.sureOrder-text {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    resize: none;
    margin-top: 29px;
    color: #898888; }

.sureOrder-text:focus {
    outline: none; }

.offerOrder {
    text-align: right;
    padding-top: 62px; }

.offerOrder p {
    margin-bottom: 26px; }

.offerOrder-money, .delivery-money, .off-money {
    color: #ff6000; }

.totalMoney {
    border-top: 1px solid #f3f3f3;
    padding-top: 26px; }

.allMoney {
    font-size: 30px;
    color: #ff6000; }

.offerOrder-name {
    padding-right: 20px; }

.payContent, .onlinePayWay {
    padding: 20px 80px;
    background: #fff;
    margin: 28px 0; }

.onlinePayWay {
    margin-bottom: 82px;
    position: relative; }

.tipsClass {
    width: 300px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ff6000;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -150px;
    background: #ff6000;
    display: none; }

.codeBody {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: none; }

.codeBody img {
    width: 100%; }

.payMoney {
    font-size: 18px;
    color: #ff6000; }

.payOk {
    font-size: 60px;
    color: #ff6000;
    padding-right: 35px; }

.payOrder {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }

.payOrder-p {
    font-size: 24px;
    margin: 10px 0 15px; }

.payOrder-p span {
    color: #ff6000; }

.moreOrderDetail {
    color: #898888;
    line-height: 2;
    display: none; }

.dis_block {
    display: block; }

.scale_img {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    /*IE*/
    filter: FlipV; }

.payOrder_tips {
    margin: 20px 0 15px; }

.orderInfo {
    color: #898888;
    margin-top: 5px; }

.orderInfo span {
    padding-right: 10px; }

.orderMore {
    color: #ff6000; }

.orderMore .iconfont {
    position: relative;
    top: 5px;
    font-size: 24px; }

.choose input {
    display: none; }

.choose label {
    display: block; }

.choose li, .addSaleOff {
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 28px 28px 0 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left; }

.addSaleOff {
    float: none;
    border: 1px solid #898888;
    border-radius: 6px; }

.choose li:hover {
    color: #ff6000; }

.addSaleOff:hover {
    border-color: #ff6000;
    cursor: pointer;
    color: #ff6000; }

.choose li:hover label {
    cursor: pointer; }

.choose input + label {
    border: 1px solid #9d9c9c;
    border-radius: 6px;
    vertical-align: middle; }

.choose input:checked + label {
    color: #ff6000;
    border-color: #ff6000; }

.choose input:disabled + label {
    border: 1px solid #f2f1f2 !important;
    color: #2b2b2b !important;
    cursor: not-allowed !important; }

#choosePay .iconfont {
    font-size: 28px;
    vertical-align: middle; }

.icon-zhifubao1 {
    color: #1d82d4; }

.icon-weixin {
    color: #3cb035; }

.priceIcon, #payPrice {
    font-size: 30px;
    color: #ff6000; }

.goPay {
    margin-top: 80px; }

.goPay-a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 122px;
    height: 54px;
    background: #fe3232;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 54px;
    border-radius: 6px;
    margin-left: 70px; }

.goPay-a:hover, .goPay-a:focus {
    background: #ff4747;
    color: #fff; }

#finishPay {
    width: 640px;
    margin: 50px auto; }

#finishPay .payOrder {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

#finishPay .orderInfo {
    color: #030304;
    margin: 20px 0 70px; }

.checkOrder {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 160px;
    height: 54px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 54px;
    background: #fe3232;
    border-radius: 6px;
    margin-right: 82px; }

.checkOrder:hover, .checkOrder:focus {
    background: #ff4747;
    color: #fff; }

.person {
    margin-bottom: 82px; }

.userInfo {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 97%;
    background: #fff;
    margin: 0 auto; }

.userName {
    font-size: 18px;
    margin-top: 18px; }

.personBg {
    width: 96%;
    background: #fff;
    margin: 0 auto;
    height: 20px; }

.personNavLi {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    color: #030304;
    text-align: center;
    width: 96%;
    background: #fff;
    margin: 0 auto; }

.personNav .personNav_a {
    display: block; }

.personNav_name {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 75px;
    margin: 0 auto;
    text-align: left; }

.personNav .active {
    background: #ff6000;
    color: #fff;
    width: 100%;
    margin: 0 auto; }

.personNav .active .personNav_a, .personNav .active:hover .personNav_a, .personNav .active:focus .personNav_a {
    color: #fff; }

.personNav .personNav_a:hover, .personNav .personNav_a:focus {
    color: #ff6000; }

.personNav .active:hover, .personNav .active:focus {
    background: #ff6000;
    color: #fff; }

.myOrder {
    background: #fff; }

.orderTitle {
    padding: 30px 80px;
    border-bottom: 1px solid #f3f3f3; }

.myOrder-tabs {
    height: 50px;
    line-height: 50px;
    padding-left: 80px;
    border-bottom: 1px solid #f3f3f3; }

.myOrder-tabs li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-right: 80px; }

.myOrder-tabs li a {
    position: relative; }

.badge {
    position: absolute;
    right: -20px;
    top: -10px;
    font-weight: normal;
    padding: 3px 6px;
    background: #ff6000;
    color: #fff; }

.myOrder-tabs .active a {
    color: #ff6000; }

.tableHead {
    height: 50px;
    line-height: 50px;
    text-align: center; }

.order-table {
    width: 100%; }

.order-table-Money, .order-table-number, .order-table-state, .order-table-operate, .order-table-action {
    text-align: center;
    border-bottom: 1px solid #f3f3f3; }

.order-table-list {
    border-bottom: 1px solid #f3f3f3; }

.order-table .goods {
    width: auto; }

.order-table-doOrder, .tableHead .order-table th {
    text-align: center; }

.order-table-a {
    color: #ff6000; }

.order-table-state {
    border-left: 1px solid #f3f3f3; }

.myOrderList {
    border-bottom: 1px solid #f3f3f3; }

.serviceDetailBlock .myOrderList {
    border-top: 1px solid #f3f3f3; }

.myOrderList_gifts {
    padding: 0 40px 28px 40px;
    margin-top: 10px; }

.myOrderList_gifts_out {
    background: #f7f7f7;
    padding: 24px 0; }

.myOrderWithGifts {
    background: #f7f7f7; }

.myOrderWithGifts .goods {
    position: relative; }

.myOrderWithGifts .myOrderList_up {
    position: absolute;
    top: -20px;
    left: 110px;
    z-index: 0; }

.gifts_t {
    color: #000;
    vertical-align: top;
    width: 42px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 100px; }

.gifts_img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 50px;
    height: 50px;
    border: 1px solid #ebebeb;
    background: #fff;
    text-align: center;
    line-height: 50px; }

.gifts_name {
    color: #000;
    vertical-align: middle; }

.myOrderList_gifts_out .row {
    margin-bottom: 28px;
    padding: 0;
    margin-left: 30px; }

.gifts .myOrderList_gifts_out .row {
    margin-left: -15px;
    margin-right: 0; }

.myOrderList_gifts_out .row:last-child {
    margin-bottom: 0; }

.myOrderNum {
    height: 50px;
    line-height: 50px;
    padding: 0 80px;
    background: #ebe9e9; }

.myGiftMoney, .myGiftNumber {
    text-align: center;
    height: 50px;
    line-height: 50px; }

.orderNumber {
    padding: 0 120px 0 0; }

.orderGoods {
    padding: 24px 0 24px 80px; }

.myOrderList_gifts_out {
    position: relative; }

.myOrderList_gifts_out .goods-img {
    border: none; }

.myOrderList_gifts_out .col-lg-6 {
    padding: 0;
    margin-right: 20px; }

.myOrderList_gifts_out .orderGoods {
    padding: 0; }

.myOrderList_up {
    position: absolute;
    top: -20px;
    left: 30px;
    z-index: 0; }

.myOrderMoney, .myOrderNumber, .myOrderState, .myOrderOperate {
    height: 150px;
    line-height: 150px;
    text-align: center; }

.myOrderOperate a {
    color: #ff6000; }

.doOrder {
    padding-top: 55px;
    text-align: center; }

.closeOrder {
    padding-top: 65px; }

.doOrder a {
    color: #ff6000; }

.myOrderTotal {
    height: 82px;
    line-height: 82px;
    font-size: 18px;
    padding-right: 66px;
    border-bottom: 1px solid #f3f3f3; }

.finalMoney {
    color: #ff6000; }

.gotoBuy {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 122px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background: #fe3232;
    border-radius: 6px;
    margin-left: 75px;
    margin-top: 15px; }

.gotoBuy:hover, .gotoBuy:focus {
    background: #fe4b4b;
    color: #fff; }

.noOrder .tab-content, .noThisOrder, .noService .tab-content {
    padding: 58px 0;
    text-align: center;
    background: #fff; }

.noOrder_tips {
    font-size: 18px;
    margin-bottom: 28px; }

.goOrder {
    display: block;
    width: 120px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ff6000;
    color: #fff;
    font-size: 18px;
    border-radius: 5px; }

.goOrder:hover, .goOrder:focus {
    background: #ff701a;
    color: #fff; }

.goSee {
    color: #898888;
    font-size: 15px;
    margin-top: -18px; }

.orderDetailProcess {
    text-align: center;
    padding: 30px 80px;
    position: relative; }

.unpaid .detailOfferOrder, .paid .detailFendOrder, .paid .detailOfferOrder, .successOrder .detailOfferOrder, .successOrder .detailFendOrder, .successOrder .detailDeliverOrder, .closedOrder .stateRow {
    color: #ff6000; }

.line {
    width: 100%;
    height: 1px;
    background: #ebe9e9;
    position: relative;
    top: 18px; }

.detailCircle {
    width: 14px;
    height: 14px;
    border: 2px solid #ebe9e9;
    border-radius: 100%;
    margin: 10px auto;
    background: #fff;
    position: relative;
    z-index: 99; }

.unpaid .detailOfferOrder .detailCircle, .paid .detailFendOrder .detailCircle, .paid .detailOfferOrder .detailCircle, .successOrder .detailFendOrder .detailCircle, .successOrder .detailOfferOrder .detailCircle, .successOrder .detailDeliverOrder .detailCircle, .closedOrder .detailCircle {
    border-color: #ff6000; }

.orderDetailDo {
    width: 100%;
    padding: 28px 80px;
    border: 1px solid #fe3232;
    background: #fff5f0;
    margin-top: 28px;
    text-align: left;
    font-size: 18px;
    line-height: 2; }

.orderDetailDo_state, .orderDetailDo_money, .serviceDetail_state, .serviceDetail_type {
    color: #ff6000;
    padding-right: 30px; }

.order_bc {
    font-size: 14px; }

.orderDetailDo_time {
    color: #ff6000;
    padding-right: 5px; }

.detail_state {
    width: 65%; }

.orderDetailDo_btns {
    height: 64px;
    line-height: 64px; }

.cancelOrder {
    background: #ebe9e9;
    color: #030304;
    margin-left: 30px; }

.cancelOrder:hover, .cancelOrder:focus {
    background: #f0eeee;
    color: #030304; }

.orderDetail_tableHead {
    border-top: 1px solid #f3f3f3; }

.orderDetail_state {
    border-left: 1px solid #f3f3f3; }

.orderDetail_content {
    padding: 28px 80px;
    border-bottom: 1px solid #f3f3f3;
    color: #898888;
    line-height: 2; }

.orderDetail_content_t {
    font-size: 18px;
    margin-bottom: 15px;
    color: #030304; }

.edit, .yellowColor {
    font-size: 14px;
    color: #ff6000;
    padding-left: 20px;
    cursor: pointer; }

.yellowColor {
    padding: 0; }

.edit:focus, .yellowColor:focus {
    outline: none;
    color: #ff6000; }

#invoiceModal #invoice li {
    margin-top: 0;
    width: 230px; }

#invoiceModal #invoice li:last-child {
    margin-right: 0;
    float: right; }

#comInvoice {
    display: none; }

#bzModal .form-group {
    margin-top: 28px; }

.beforeOrder .redLine51, .unPickup .redLine1, .delivering .redLine2, .unpaid .redLine1, .paid .redLine52, .soldOrder .redLine53, .successOrder .redLine54, .closedOrder .redLine55, .sending .redLine3, .successPick .redLine4 {
    visibility: visible; }

.beforeOrder .detailOfferOrder, .soldOrder .detailOfferOrder, .soldOrder .detailFendOrder, .soldOrder .detailOutOrder, .successOrder .detailOutOrder {
    color: #ff6000; }

.beforeOrder .detailOfferOrder .detailCircle, .soldOrder .detailOfferOrder .detailCircle, .soldOrder .detailFendOrder .detailCircle, .soldOrder .detailOutOrder .detailCircle, .successOrder .detailOutOrder .detailCircle {
    border-color: #ff6000; }

.applyServiceHead {
    border-bottom: 1px solid #f3f3f3; }

.myOrderGift, .myOrderAccess, .myOrderQuality {
    text-align: center;
    line-height: 150px;
    border-left: 1px solid #f3f3f3; }

.applyService_content {
    color: #030304; }

.myOrderAccess {
    padding-top: 50px;
    line-height: inherit;
    height: 150px;
    width: 90%;
    margin: 0 auto;
    border: none;
    text-align: left; }

.no_gift {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 15px;
    height: 1px;
    background: #898888;
    margin: 0 auto; }

#serviceKind li, #returnKind li {
    margin-top: 0; }

#applyNum .inputNum {
    width: 60px;
    color: #ff6000; }

#applyNum .btn {
    padding: 14px 18px; }

#applyNum .btn:hover, #applyNum .btn:focus, #applyNum .btn:visited {
    background: #fff;
    box-shadow: none;
    color: #ff6000; }

.orderDetail_content .sureOrder-text {
    margin-top: 0; }

.uploadImg {
    position: relative;
    margin-top: 28px; }

.a-upload {
    width: 132px;
    height: 132px;
    line-height: 132px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fff;
    border: 1px solid #898888;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-decoration: none; }

.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer; }

.a-upload .iconfont {
    font-size: 48px;
    color: #030304; }

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none; }

.img_div {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

.default_img {
    margin-right: 20px; }

.isImg {
    width: 132px;
    height: 132px;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px; }

.removeBtn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    border: 0;
    border-radius: 100%;
    background: #ff6000;
    width: 22px;
    height: 22px;
    line-height: 22px;
    color: white; }

.removeBtn:focus {
    outline: none; }

.orderDetail_tips {
    color: #898888;
    margin-top: 10px;
    position: relative; }

#orderDetail_tips1 {
    display: block;
    margin-top: 15px; }

.orderDetail_tips2 {
    color: #898888;
    display: none;
    margin-top: 28px; }

.delivery_select {
    color: #ff6000;
    margin-right: 30px;
    box-shadow: none; }

#delivery_self {
    display: none; }

.delivery_num {
    box-shadow: none; }

.delivery_select:focus, .delivery_num:focus {
    outline: none;
    border-color: #ccc;
    box-shadow: none; }

.offerReview {
    margin: 0 28px 0 0; }

.calendarInput {
    padding: 6px 12px;
    border: none;
    border-radius: 4px; }

#other_delivery {
    position: relative; }

.orderDetail_tips .icon-rili, .orderDetail_content .icon-rili {
    position: absolute;
    left: 200px;
    top: 4px;
    color: #ff6000;
    cursor: pointer; }

.calendarInput:focus {
    outline: none;
    border: none; }

.applySuccess {
    padding: 0 80px 265px 80px; }

.applySuccess .col-lg-7 {
    border-right: 1px solid #fc1414; }

.applyOk_right {
    padding-top: 20px; }

.applyOk_left .payOk {
    padding-right: 20px;
    vertical-align: middle; }

.okText {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 72%;
    line-height: 2;
    font-size: 14px;
    vertical-align: middle; }

.red_18 {
    color: #ff6000;
    font-size: 18px; }

.wechatOk {
    padding: 0 10px;
    vertical-align: middle; }

.col-20 {
    width: 20%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left; }

.service_bc {
    color: #898888; }

.problemImgs {
    margin-top: 10px; }

.problemImgs img {
    margin-right: 5px; }

.redLine1, .redLine2, .redLine3, .redLine4, .redLine51, .redLine52, .redLine53, .redLine54, .redLine55 {
    width: calc(12.5% - 16px);
    height: 1px;
    background: #ff6000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden; }

.redLine2 {
    width: calc(37.5% - 8px); }

.redLine3 {
    width: 62.5%; }

.redLine4 {
    width: 100%; }

.redLine51 {
    width: calc(10% - 16px); }

.redLine52 {
    width: calc(30% - 8px); }

.redLine53 {
    width: 50%; }

.redLine54 {
    width: calc(70% + 8px); }

.redLine55 {
    width: 100%; }

.sureOrder-words {
    margin-top: 0;
    color: #030304;
    padding: 28px; }

#orderWordsDiv .a-upload {
    width: 80px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    margin-bottom: 0; }

#orderWordsDiv .isImg {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin-right: 30px; }

#orderWordsDiv .orderDetail_tips {
    margin-bottom: 27px;
    margin-top: 20px; }

.order_tips {
    color: #898888; }

.reviewOrder .redLine51, .failOrder .redLine51, .alreadyOrder .redLine52, .pickOrder .redLine53, .dealOrder .redLine54, .doneOrder .redLine55 {
    visibility: visible; }

.reviewOrder .detailOfferOrder .detailCircle, .failOrder .detailOfferOrder .detailCircle, .alreadyOrder .detailOfferOrder .detailCircle, .alreadyOrder .detailFendOrder .detailCircle, .pickOrder .detailOfferOrder .detailCircle, .pickOrder .detailFendOrder .detailCircle, .pickOrder .detailDeliverOrder .detailCircle, .dealOrder .detailOfferOrder .detailCircle, .dealOrder .detailFendOrder .detailCircle, .dealOrder .detailDeliverOrder .detailCircle, .dealOrder .detailDoOrder .detailCircle, .doneOrder .detailOfferOrder .detailCircle, .doneOrder .detailFendOrder .detailCircle, .doneOrder .detailDeliverOrder .detailCircle, .doneOrder .detailDoOrder .detailCircle, .doneOrder .detailFinishOrder .detailCircle {
    border-color: #ff6000; }

.reviewOrder .detailOfferOrder, .failOrder .detailOfferOrder, .alreadyOrder .detailOfferOrder, .alreadyOrder .detailFendOrder, .pickOrder .detailOfferOrder, .pickOrder .detailFendOrder, .pickOrder .detailDeliverOrder, .dealOrder .detailOfferOrder, .dealOrder .detailFendOrder, .dealOrder .detailDeliverOrder, .dealOrder .detailDoOrder, .doneOrder .detailOfferOrder, .doneOrder .detailFendOrder, .doneOrder .detailDeliverOrder, .doneOrder .detailDoOrder, .doneOrder .detailFinishOrder {
    color: #ff6000; }

.myOrderAccess_border {
    border-left: 1px solid #f3f3f3; }

.orderDetailDo_btns .gotoBuy {
    margin-left: 20px; }

.unPickup .detailOfferOrder .detailCircle, .delivering .detailOfferOrder .detailCircle, .delivering .detailFendOrder .detailCircle, .sending .detailOfferOrder .detailCircle, .sending .detailFendOrder .detailCircle, .sending .detailDeliverOrder .detailCircle, .successPick .detailOfferOrder .detailCircle, .successPick .detailFendOrder .detailCircle, .successPick .detailDeliverOrder .detailCircle, .successPick .detailFinishOrder .detailCircle {
    border-color: #ff6000; }

.unPickup .detailOfferOrder, .delivering .detailOfferOrder, .delivering .detailFendOrder, .sending .detailOfferOrder, .sending .detailDeliverOrder, .sending .detailOfferOrder, .sending .detailFendOrder, .successPick .stateRow {
    color: #ff6000; }

.deliveryDetailBlock {
    padding: 30px 80px; }

.orderDetailBlock {
    padding: 30px 80px; }

.deliveryDetailBlock .orderDetailProcess {
    padding: 30px 0; }

.deliveryInfo_p {
    font-size: 18px; }

@media (min-width: 768px) and (max-width: 1024px) {
    .deliveryInfo_p {
        font-size: 14px; }

    .applySuccess .col-lg-7 {
        border-right: none; } }
.trackingMsg {
    padding: 20px 0 30px 0;
    position: relative; }

.sending .angle_up, .unPickup .angle_up, .delivering .angle_up, .successPick .angle_up {
    position: absolute;
    top: -10px;
    left: 62.5%;
    margin-left: -26px; }

.unPickup .angle_up {
    left: 12.5%;
    margin-left: -38px; }

.delivering .angle_up {
    left: 37.5%; }

.successPick .angle_up {
    left: 87.5%;
    margin-left: -15px; }

.trackingMsgBlock {
    padding: 28px 40px;
    background: #f3f3f3; }

.trackingMsg_t {
    font-size: 18px;
    padding-bottom: 27px; }

.trackNowAdd, .trackNowTime {
    color: #ff6000; }

.trackingBlock {
    padding: 26px 0 0 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff; }

.ulBlock {
    border-left: 1px solid #ebe9e9; }

.trackingTips {
    padding-top: 26px; }

.trackingList li {
    margin-bottom: 25px; }

.trackingCircle {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #ebe9e9;
    margin-right: 28px;
    position: relative;
    left: -4px;
    top: -2px; }

.trackingDay, .trackingWeek, .trackingTime, .trackingAddress {
    padding-right: 28px; }

.trackingTime {
    padding-left: 172px; }

.trackingList li:first-child .trackingTime, .trackingList li:first-child .trackingAddress {
    padding-left: 0; }

.trackingList:first-child li:first-child .trackingCircle {
    background: #ff6000; }

.unPickup .trackingBlock {
    text-align: center; }

.unPickup-text {
    font-size: 18px;
    margin-bottom: 62px; }

.deliveryCar {
    margin-top: 42px;
    margin-bottom: 18px; }

.discount_a .iconfont {
    vertical-align: middle;
    font-size: 24px; }

.goBuy {
    vertical-align: middle;
    position: relative;
    top: 2px; }

.sureOrder-t .icon-right {
    position: relative;
    top: 2px; }

.discountImgs {
    padding: 0 65px 30px 65px; }

.discountImg {
    display: block;
    margin-top: 28px;
    text-align: center; }

.discountImg img {
    max-width: 100%; }

.noDiscount {
    padding: 100px 0 100px;
    text-align: center; }

.noDiscount_p {
    font-size: 18px;
    color: #030304;
    margin: 18px 0; }

.noDiscount_a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background: #ff5400;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px #ff6214; }

.noDiscount_a:hover, .noDiscount_a:focus {
    background: #ff6214;
    color: #fff; }

.addressBlock {
    padding: 0 80px;
    margin-top: 30px; }

.edit_tip, .delete_tip, .change_tip {
    padding-right: 10px;
    cursor: pointer; }

.address-box select {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 164px !important;
    float: left;
    margin-right: 28px; }

.address-box select:last-child {
    margin-right: 0; }

.addModal_form .checkbox {
    width: 100%; }

.addressModal .form-horizontal .checkbox {
    min-height: 20px;
    padding-top: 0; }

.has-success .form-control:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none; }

.prompt {
    font-size: 12px;
    color: #fe3232;
    position: absolute;
    bottom: -24px;
    left: 44px; }

.errorTips {
    font-size: 12px;
    color: #fe3232;
    position: absolute;
    bottom: -24px;
    left: 29px; }

.myInfoTitle {
    border: none; }

.myInfoBlock {
    padding: 27px 80px 0 80px;
    border-top: 1px solid #f3f3f3; }

.myInfoBlock {
    font-size: 18px; }

.myInfoBlock_p {
    padding-bottom: 27px; }

.myInfoBlock a {
    color: #ff6000; }

.myInfoBlock_s {
    font-size: 14px;
    color: #898888;
    padding-bottom: 27px; }

.myInfoBlock_a {
    margin-top: 28px; }

.form-label {
    font-size: 18px;
    margin-bottom: 20px; }

.btn-yz {
    height: 50px;
    line-height: 50px;
    padding: 0 29px;
    background: #ff6000;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid #ff6000; }

.btn-grey, .hideCode {
    background: #898888;
    border: 1px solid #898888; }

.hideCode {
    display: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }

.showCode {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }

.msgs1 {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

.btn-yz:hover, .btn-yz:focus, .showCode:hover, .showCode:focus {
    outline: none;
    color: #fff;
    border: 1px solid #ff701a;
    border-left: none;
    background: #ff701a; }

.btn-grey:hover, .btn-grey:focus, .hideCode:hover, .hideCode:focus {
    border: 1px solid #969595;
    background: #969595; }

.modal-tips {
    font-size: 18px;
    margin: 28px 0;
    text-align: center; }

.btn-qx {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ebe9e9;
    border-radius: 4px;
    background: #ebe9e9;
    font-size: 18px; }

.btn-qx:hover, .btn-qx:focus {
    border: 1px solid #f0eeee;
    background: #f0eeee;
    outline: none; }

.has-error .help-block {
    color: #fe3232;
    font-size: 12px;
    padding-left: 29px; }

.has-error .form-control, .has-error .form-control:focus, .has-success .form-control, .has-success .form-control:focus {
    border-color: #dfdfdf; }

.form-control-feedback {
    position: absolute;
    right: 19px; }

.has-feedback label ~ .form-control-feedback {
    top: 62px; }

.has-error .form-control-feedback {
    color: #000; }

.has-success .form-control-feedback {
    color: #ff6000; }

.form-group {
    position: relative; }

.newPwd-group .form-control-feedback {
    top: 7px; }

.btn-red[disabled]:hover {
    cursor: not-allowed; }

@media (min-width: 940px) and (max-width: 1240px) {
    .shopCart-top {
        padding: 0 10px; }

    .carHead {
        padding: 0 10px;
        font-size: 14px; }

    input[type="checkbox"] + label span {
        margin: -2px 5px 0 0; }

    .item {
        padding: 24px 10px; }

    .foot_block {
        padding: 0 10px; }

    .payContent, .onlinePayWay {
        padding: 20px 10px; }

    .orderAdd {
        padding: 28px 10px; }

    .orderTitle {
        padding: 30px 10px; }

    .discountImgs {
        padding: 0 0 30px 0; }

    .addressBlock {
        padding: 0 10px; }

    .addressBlock .row {
        margin-right: -8px;
        margin-left: -8px; }

    .addressBlock .col-md-4 {
        padding-right: 8px;
        padding-left: 8px; }

    .person .col-md-10 {
        padding-left: 20px; }

    .orderDetailBlock, .deliveryDetailBlock {
        padding: 30px 10px; }

    .orderDetail_content {
        padding: 28px 10px; }

    .orderGoods {
        padding: 24px 0 24px 10px; }

    .myOrderNum {
        padding: 0 10px; }

    .orderDetailProcess {
        padding: 30px 10px; }

    .myOrderTotal {
        padding-right: 10px; }

    .myInfoBlock {
        padding: 27px 10px 0 10px; }

    .applySuccess {
        padding: 0 10px 180px 10px; }

    .orderDetailDo {
        padding: 28px 50px; }

    .myOrder-tabs {
        padding-left: 10px; }

    .myOrder-tabs li {
        padding-right: 40px; }

    .goods .goods-img {
        margin-right: 15px; }

    .myOrderWithGifts .myOrderList_up {
        left: 40px; }

    .modal_close {
        position: fixed;
        top: 120px;
        right: 60px; } }
@media (min-width: 1240px) and (max-width: 1300px) {
    .modal_close {
        position: fixed;
        top: 120px;
        right: 100px; } }
@media (min-width: 1301px) and (max-width: 1400px) {
    .modal_close {
        position: fixed;
        top: 120px;
        right: 140px; } }
@media (min-width: 1401px) and (max-width: 1500px) {
    .modal_close {
        position: fixed;
        top: 120px;
        right: 180px; } }
@media (min-width: 1501px) and (max-width: 1600px) {
    .modal_close {
        position: fixed;
        top: 120px;
        right: 240px; } }
@media (min-width: 1240px) and (max-width: 1600px) {
    .shopCart-top {
        padding: 0 30px; }

    .carHead {
        padding: 0 30px; }

    .item {
        padding: 24px 30px; }

    .foot_block {
        padding: 0 30px; }

    .payContent, .onlinePayWay {
        padding: 20px 30px; }

    .orderAdd {
        padding: 28px 30px; }

    .orderAddList .row {
        margin-left: -8px;
        margin-right: -8px; }

    .orderAddList .col-lg-3 {
        padding-left: 8px;
        padding-right: 8px; }

    .addMenu, .addMenu-new {
        height: 160px; }

    .addMenu-add {
        margin: 10px 0; }

    .orderTitle {
        padding: 30px 30px; }

    .discountImgs {
        padding: 0 30px 30px 30px; }

    .addressBlock {
        padding: 0 30px; }

    .addressBlock .row {
        margin-right: -8px;
        margin-left: -8px; }

    .addressBlock .col-md-4 {
        padding-right: 8px;
        padding-left: 8px; }

    .orderDetailBlock, .deliveryDetailBlock {
        padding: 30px; }

    .orderDetail_content {
        padding: 28px 30px; }

    .orderGoods {
        padding: 24px 0 24px 30px; }

    .myOrderNum {
        padding: 0 30px; }

    .orderDetailProcess {
        padding: 30px; }

    .myOrderTotal {
        padding-right: 30px; }

    .myInfoBlock {
        padding: 27px 30px 0 30px; }

    .applySuccess {
        padding: 0 30px 265px 30px; }

    .orderDetailDo {
        padding: 28px 10px; }

    .okText {
        width: 70%; }

    .myOrder-tabs {
        padding-left: 30px; }

    .myOrder-tabs li {
        padding-right: 40px; }

    .myOrderWithGifts .myOrderList_up {
        left: 60px; } }
@media (min-width: 768px) {
    .addressModal .form-horizontal .control-label {
        padding-top: 0;
        line-height: 50px; }

    .myInfoModal .modal-dialog {
        width: 480px; }

    .addressModal .modal-dialog {
        width: 720px; }

    .myInfoModal .modal-content {
        box-shadow: none;
        border: none; }

    .myInfoModal .modal-header {
        height: 80px;
        line-height: 80px;
        padding: 23px 28px;
        border-bottom: none; }

    .myInfoModal .modal-title {
        text-align: center;
        font-size: 24px; }

    .myInfoModal .modal-header .icon-close {
        font-size: 24px;
        padding-top: 8px; }

    .myInfoModal .close {
        font-weight: 600;
        color: #030304;
        text-shadow: none;
        background: none;
        filter: alpha(opacity=40);
        opacity: 0.4; }

    .myInfoModal .close:hover {
        filter: alpha(opacity=60);
        opacity: 0.6; }

    .myInfoModal .modal-header .close:focus {
        outline: none; }

    .myInfoModal .modal-body {
        padding: 0 28px 50px 28px; }

    .myInfoModal .form-group {
        margin-bottom: 30px; }

    .myInfoModal .input-group {
        position: relative;
        margin-bottom: 30px; }

    .myInfoModal .form-control {
        width: 100%;
        height: 50px;
        padding: 12px 29px;
        border: 1px solid #dfdfdf;
        -webkit-box-shadow: none;
        box-shadow: none;
        vertical-align: middle;
        background: transparent;
        color: #030304; }

    .btn-red {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #ff6000;
        border-radius: 4px;
        background: #ff6000;
        color: #fff;
        font-size: 18px; }

    .btn-red:hover, .btn-red:focus {
        outline: none;
        border: 1px solid #ff701a;
        color: #fff;
        background: #ff701a; }

    .greyBtn {
        border: 1px solid #ebe9e9;
        background: #ebe9e9;
        color: #030304; }

    .greyBtn:hover, .greyBtn:focus {
        border: 1px solid #f0eeee;
        color: #030304;
        background: #f0eeee; } }
