.border-top {
  border-top: 1px solid #ccc; }

.box-border {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.index-banner {
  position: relative;
  margin-top: 83px; }

.index-banner .carousel-indicators {
  bottom: 50px; }

.index-banner .arrow-left {
  left: 8%; }

.index-banner .arrow-right {
  right: 8%; }

.index-banner .arrows {
  color: #ebebeb;
  opacity: 0.3; }

.index-banner .arrows:hover {
  opacity: 1; }

.index-banner .arrows:active {
  opacity: 0.3; }

.banner-slider {
  position: relative;
  overflow: hidden; }

.bannerImg {
  width: 100%; }

.banner_link {
  display: block;
  position: absolute;
  bottom: 90px;
  left: 160px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.banner_link:hover {
  bottom: 100px; }

.paginations {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 999;
  text-align: center;
  width: 100%; }

.liDot {
  border: 1px solid transparent;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 14px;
  border-radius: 100%;
  margin: 0 5px;
  padding: 2px;
  text-align: center;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.carousel-indicators li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  text-indent: -999px;
  padding: 2px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 14px; }

.carousel-indicators li.active {
  width: 14px;
  height: 14px;
  padding: 2px;
  margin: 0 5px;
  background: transparent;
  border: 1px solid rgba(250, 250, 250, 0.4); }

.liDot.active {
  border: 1px solid rgba(250, 250, 250, 0.4); }

.dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgba(250, 250, 250, 0.4);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.liDot.active .dot, .carousel-indicators .active .dot {
  background: rgba(250, 250, 250, 0.8); }

.app {
  position: relative;
  top: -40px;
  z-index: 999; }

.app-xs {
  position: absolute;
  top: -.2rem;
  z-index: 999;
  width: 100%; }

.app .row, .app-xs .row {
  margin-left: 0;
  margin-right: 0; }

.app .col-md-4, .app-xs .col-xs-4 {
  padding: 0; }

.sing_t_xs {
  width: 1.8rem;
  margin-top: .3rem; }

.app_div_text {
  width: 100%;
  height: 114px;
  position: absolute;
  top: 50%;
  margin-top: -57px;
  left: 0;
  text-align: center; }

.app_div .iconfont {
  font-size: 80px;
  color: #ff6000;
  vertical-align: middle;
  position: relative;
  top: 10px; }

.app_div_p {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 20px; }

.app_div_t {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 5px; }

.pro_kinds {
  font-size: 32px;
  font-weight: bold;
  color: #1c1c1c;
  margin: 80px 0 26px;
  letter-spacing: 10px; }

.pro_kinds_words {
  font-size: 18px;
  color: #1c1c1c;
  margin-bottom: 80px; }

.app_div {
  width: 100%;
  text-align: center;
  color: #2e2e2e; }

.sing_t {
  margin-top: 5px; }

.app_a {
  display: block; }

.app_div_bg {
  max-width: 100%; }

.shadow {
  width: calc(100% - 6px);
  height: calc(100% - 3px);
  background: #ff6000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 999;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.shadow .iconfont {
  color: #fff; }

.checkMore {
  font-size: 20px;
  color: #fff; }

.app_div:hover .shadow {
  opacity: 1; }

@media (min-width: 992px) and (max-width: 1600px) {
  .index-banner .arrow-left {
    left: 4%; }

  .index-banner .arrow-right {
    right: 4%; } }
@media (min-width: 992px) and (max-width: 1023px) {
  .app {
    top: -20px; }

  .app_div_text {
    height: 72px;
    margin-top: -36px; }

  .app_div .iconfont {
    font-size: 50px;
    top: 0; }

  .app_div_t {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px; }

  .banner_link img {
    width: 66%; }

  .banner_link {
    bottom: 25px;
    left: 90px; }

  .banner_link:hover {
    bottom: 40px; }

  .index-banner .carousel-indicators {
    bottom: 25px; } }
@media (min-width: 1024px) and (max-width: 1200px) {
  .app {
    top: -20px; }

  .app_div_text {
    height: 72px;
    margin-top: -36px; }

  .app_div .iconfont {
    font-size: 50px;
    top: 0; }

  .app_div_t {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px; }

  .banner_link img {
    width: 70%; }

  .banner_link {
    bottom: 30px;
    left: 100px; }

  .banner_link:hover {
    bottom: 40px; }

  .index-banner .carousel-indicators {
    bottom: 30px; } }
@media (min-width: 1201px) and (max-width: 1300px) {
  .banner_link img {
    width: 75%; }

  .banner_link {
    bottom: 50px;
    left: 120px; }

  .banner_link:hover {
    bottom: 60px; } }
@media (min-width: 1301px) and (max-width: 1400px) {
  .banner_link img {
    width: 85%; }

  .banner_link {
    bottom: 50px;
    left: 120px; }

  .banner_link:hover {
    bottom: 60px; } }
@media (min-width: 1401px) and (max-width: 1500px) {
  .banner_link img {
    width: 90%; }

  .banner_link {
    bottom: 50px;
    left: 130px; }

  .banner_link:hover {
    bottom: 60px; } }
@media (min-width: 1501px) and (max-width: 1600px) {
  .banner_link img {
    width: 95%; }

  .banner_link {
    bottom: 60px;
    left: 150px; }

  .banner_link:hover {
    bottom: 70px; } }
.app_songs {
  font-size: 24px;
  color: #1c1c1c;
  margin-bottom: 28px; }

.app_songs_detail {
  color: #898888;
  max-width: 280px;
  margin: 0 auto; }

.app_div:hover .app_songs, .app_div:hover .app_songs_detail {
  color: #ff6000; }

.sings {
  background: url(images/sing_bg.jpg) 50% 50% no-repeat;
  height: 826px;
  text-align: center;
  position: relative; }

.sings-xs {
  background: url(images-xs/sing_bg_xs.jpg) 50% 50% no-repeat;
  text-align: center;
  position: relative;
  padding-bottom: 1.8rem;
  padding-top: .2rem; }

.sing_slider_xs {
  position: absolute;
  bottom: -.65rem;
  text-align: center; }

.sing_slider_xs_bg {
  max-width: 100%; }

@media (min-width: 880px) and (max-width: 991px) {
  .sing_slider_xs {
    position: absolute;
    bottom: -.75rem;
    text-align: center; }

  .sing_slider_xs_bg {
    max-width: 90%; } }
#slider {
  width: 100%;
  position: relative; }

.sing_text {
  font-size: 18px;
  color: #fff;
  height: 80px;
  width: 600px;
  margin: 0 auto; }

.sing_p_xs {
  font-size: .11rem;
  color: #fff;
  text-align: center; }

.sing_p {
  display: none;
  padding: 10px 0;
  height: 60px; }

.prev_btn {
  position: absolute;
  right: 7%;
  top: 50%;
  margin-top: -30px;
  cursor: pointer; }

.circle_btn {
  position: relative; }

.out3, .out2, .out1 {
  width: 60px;
  height: 60px;
  background: rgba(250, 250, 250, 0.6);
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  margin: 0 auto; }

.out2 {
  position: absolute;
  top: -10px;
  left: 5px;
  width: 80px;
  height: 80px;
  background: rgba(250, 250, 250, 0.5);
  padding: 10px;
  -webkit-animation: warn 2s ease-out;
  -moz-animation: warn 2s ease-out;
  animation: warn 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.out1 {
  position: absolute;
  top: -20px;
  left: -5px;
  width: 100px;
  height: 100px;
  background: rgba(250, 250, 250, 0.3);
  padding: 10px;
  transition-delay: 0.2s;
  -webkit-animation: warn 2s ease-out;
  -moz-animation: warn 2s ease-out;
  animation: warn 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.out3 .iconfont {
  font-size: 30px; }

@keyframes warn {
  0% {
    transform: scale(0);
    opacity: 0.3; }
  25% {
    transform: scale(0);
    opacity: 0.5; }
  50% {
    transform: scale(0.1);
    opacity: 0.7; }
  75% {
    transform: scale(0.5);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 0.3; } }
@-webkit-keyframes warn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.3; }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.5; }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.7; }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.3; } }
.prev_btn_p {
  font-size: 18px;
  margin-top: 28px;
  color: #fff; }

/* carousels */
.carousels {
  margin: 0 auto;
  padding-top: 50px;
  width: 970px;
  height: 550px;
  overflow: hidden;
  position: relative; }

.carousels .slides {
  margin: 0px auto 30px;
  overflow: hidden;
  position: relative; }

.carousels .slides .slideItem {
  padding: 0px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  opacity: 1 !important; }

.carousels .slides .slideItem a {
  overflow: hidden;
  display: block; }

.carousels .slides .slideItem img {
  width: 100%;
  height: 100%; }

.carousels .slides .slideItem .cover {
  background: black;
  left: 0px;
  top: 0px;
  width: 100% !important;
  height: 380px !important;
  display: block;
  position: absolute; }

.phoneImg {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  z-index: 7; }

.index-shop {
  background: #f4f4f4;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px; }

.index-shop .pro_kinds {
  margin: 50px 0 26px; }

.singBao {
  position: relative;
  z-index: 8; }

.singBao_a {
  font-size: 20px;
  margin-left: -105px;
  color: #fff;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 225px;
  height: 62px;
  background: #ff6000;
  border-radius: 62px;
  text-align: center;
  line-height: 62px;
  position: relative;
  box-shadow: 0 10px 38px #ff6053; }

.indexPro_more .singBao_a {
  margin-left: 0; }

.singBao_a .iconfont {
  font-size: 40px !important;
  position: absolute;
  right: 10px;
  top: 4px; }

.singBao_a:hover, .singBao_a:focus {
  background: #ff701a;
  color: #fff; }

.makfong {
  position: relative;
  right: 50px;
  top: -10px;
  z-index: 2; }

.productDiv {
  width: 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 31px;
  overflow: hidden;
  position: relative;
  color: #2e2e2e; }

.productDiv:hover {
  transform: translate3d(0, -5px, 0);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1); }

.productDiv:hover a {
  color: #030304; }

.pro-img {
  overflow: hidden; }

.product_img {
  width: 100%; }

.indexPro_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: left; }

.mp30 .indexPro_info {
  padding: 30px 40px; }

.mp30 .indexPro_name, .mp30 .indexPro_adv {
  font-size: 32px; }

.indexPro_name {
  text-shadow: 3px 3px #c2c2c2; }

.indexPro_footer {
  position: absolute;
  width: 55%;
  bottom: 10px;
  left: 52%; }

.indexPro_name {
  font-size: 20px;
  font-weight: bold; }

.indexPro_adv {
  font-size: 18px;
  font-weight: bold; }

.indexPro_ass {
  font-size: 14px; }

.indexPro_money {
  font-size: 17px;
  font-weight: bold;
  color: #ff6000; }

.mp30 .indexPro_footer {
  width: 100%;
  bottom: 28px;
  left: 40px; }

.mp30 .indexPro_ass {
  font-size: 20px; }

.mp30 .indexPro_money {
  position: absolute;
  width: 100%;
  bottom: 10px;
  right: 0;
  padding-right: 70px;
  font-size: 32px;
  font-weight: bold;
  color: #ff6000;
  text-align: right; }

@media (min-width: 1200px) and (max-width: 1600px) {
  .indexPro_footer {
    left: 50%; }

  .indexPro_adv {
    font-size: 15px; }

  .indexPro_ass {
    font-size: 13px; }

  .mp30 .indexPro_footer {
    bottom: 20px; } }
.miniKtv {
  overflow: hidden; }

.miniKtvBg {
  width: 100%; }

.miniktv_gn {
  max-width: 100%; }

.miniKtv_t {
  color: #ff6000;
  font-weight: bold;
  margin-top: 60px; }

.miniKtv_p1 {
  color: #1c1c1c;
  margin: 28px 0; }

.miniKtv_p2 {
  color: #898888;
  margin-bottom: 28px;
  line-height: 2; }

.miniKtv_btn1 {
  margin-top: 50px; }

.miniKtv_btn2 {
  margin-bottom: 20px; }

.btn-sing {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 320px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 28px;
  background: #ff6000;
  color: #fff;
  box-shadow: 0 5px 28px #ff493a; }

.iconImg {
  padding-right: 20px;
  padding-bottom: 7px; }

.iconRight {
  padding-left: 20px;
  padding-bottom: 2px; }

.btn-sing:hover, .btn-sing:focus {
  background: #ff701a;
  color: #fff; }

.map_content {
  height: 650px; }

@media (min-width: 992px) and (max-width: 1023px) {
  .block-words {
    width: 940px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -484px; }

  .block-words-right {
    width: 50%;
    margin-left: 50%; }

  .miniKtv_t {
    margin-top: 20px; }

  .miniKtv_p1 {
    margin: 10px 0; }

  .miniKtv_p2 {
    margin-bottom: 10px; }

  .miniKtv_btn1 {
    margin-top: 15px; }

  .miniKtv_btn2 {
    margin-bottom: 10px; }

  .miniktv_gn {
    width: 40%; }

  .btn-sing {
    width: 220px;
    height: 44px;
    line-height: 44px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px; }

  .iconImg {
    padding-right: 10px;
    padding-bottom: 5px; }

  .iconRight {
    padding-left: 10px; }

  .prev_btn {
    right: 4%;
    top: 25%; }

  .sing_text {
    height: 120px; }

  .sing_p {
    padding: 30px 0;
    height: 55px; }

  .sing_t {
    margin-top: 45px; } }
@media (min-width: 1024px) and (max-width: 1240px) {
  .block-words {
    width: 968px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -484px; }

  .block-words-right {
    width: 50%;
    margin-left: 50%; }

  .miniKtv_t {
    margin-top: 20px; }

  .miniKtv_p1 {
    margin: 15px 0; }

  .miniKtv_p2 {
    margin-bottom: 15px; }

  .miniKtv_btn1 {
    margin-top: 20px; }

  .miniKtv_btn2 {
    margin-bottom: 10px; }

  .miniktv_gn {
    width: 40%; }

  .btn-sing {
    width: 220px;
    height: 44px;
    line-height: 44px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px; }

  .iconImg {
    padding-right: 10px;
    padding-bottom: 5px; }

  .iconRight {
    padding-left: 10px; }

  .prev_btn {
    right: 4%;
    top: 25%; }

  .sing_text {
    height: 120px; }

  .sing_p {
    padding: 30px 0;
    height: 55px; }

  .sing_t {
    margin-top: 45px; } }
@media (min-width: 1240px) and (max-width: 1600px) {
  .prev_btn {
    right: 3%;
    top: 45%; }

  .miniKtv_t {
    margin-top: 40px; }

  .miniKtv_p1 {
    margin: 16px 0; }

  .miniKtv_p2 {
    margin-bottom: 20px; }

  .miniKtv_btn1 {
    margin-top: 25px; }

  .miniKtv_btn2 {
    margin-bottom: 10px; }

  .miniktv_gn {
    width: 50%; }

  .btn-sing {
    width: 260px;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px; }

  .iconImg {
    padding-right: 10px;
    padding-bottom: 5px; }

  .iconRight {
    padding-left: 10px; } }
@media (min-width: 1440px) and (max-width: 1600px) {
  .miniktv_gn {
    width: 60%; }

  .miniKtv_btn1 {
    margin-top: 30px; }

  .btn-sing {
    width: 300px;
    height: 54px;
    line-height: 54px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px; }

  .iconImg {
    padding-bottom: 7px; } }
#panel {
  position: absolute;
  background-color: white;
  max-height: 650px;
  overflow-y: auto;
  top: 0;
  right: 0;
  width: 280px;
  border-bottom: solid 1px silver; }

.amap-geo {
  display: none; }

.closeImg {
  position: absolute;
  top: 10px;
  right: 290px;
  z-index: 9999;
  width: 48px;
  height: 48px;
  box-shadow: 0 0 8px #8e8d8d;
  text-align: center;
  line-height: 48px;
  border-radius: 100%;
  background: #fefefe;
  cursor: pointer; }

.closeImg .iconfont {
  font-size: 24px;
  color: #dedede; }

.closeImg:hover {
  box-shadow: 0 0 20px #ff871c; }

.closeImg:hover .iconfont {
  color: #ff6000; }

@media (max-width: 991px) {
  .index-banner {
    margin-top: 0; }

  .singBao_xs .col-xs-6 {
    padding-left: 8px;
    padding-right: 8px; }

  .singBao_xs .row {
    margin-left: -8px;
    margin-right: -8px; }

  .singBao_xs {
    padding-top: .5rem; }

  .index-shop {
    padding-top: 0;
    padding-bottom: 0; }

  .singBao {
    text-align: center;
    position: relative; }

  .singBao_a {
    font-size: .15rem;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 1.5rem;
    height: .45rem;
    border-radius: .225rem;
    line-height: .45rem;
    box-shadow: 0 5px 19px #ff6053;
    margin-left: 0; }

  .makfong {
    width: .5rem;
    position: absolute;
    left: .05rem;
    top: -.25rem;
    z-index: 2; }

  .singBao_a .iconfont {
    font-size: .24rem !important;
    position: absolute;
    right: .05rem;
    top: .02rem; }

  .index-shop .pro_kinds {
    font-size: .2rem;
    letter-spacing: 0;
    margin: .2rem 0 .15rem; }

  .productDiv {
    margin-bottom: .22rem; }

  .mp30 .indexPro_info {
    padding: .15rem; }

  .mp30 .indexPro_footer {
    width: 100%;
    bottom: 0.15rem;
    left: .15rem; }

  .mp30 .indexPro_name, .mp30 .indexPro_adv, .indexPro_adv, .indexPro_name, .indexPro_money {
    font-size: .16rem; }

  .mp30 .indexPro_ass, .indexPro_ass {
    font-size: .14rem; }

  .mp30 .indexPro_money {
    bottom: 10px;
    padding-right: .3rem;
    font-size: .16rem; }

  .miniKtv_t {
    font-size: .24rem;
    font-weight: bold;
    margin-top: .3rem; }

  .miniKtv_p1 {
    font-size: .11rem;
    margin: 0; }

  .miniKtv_p2 {
    font-size: .12rem;
    line-height: 1.6;
    margin-bottom: 2.5rem; }

  .miniKtv_btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 49%;
    margin-top: .3rem; }

  .map_content {
    height: 350px; }

  .btn-sing-xs {
    text-align: center; }

  .btn-sing-xs img {
    max-width: 100%; }

  .map_content #panel {
    display: none; }

  .closeImg {
    position: absolute;
    top: 10px;
    right: 10px; } }
@media (min-width: 600px) and (max-width: 680px) {
  .sing_slider_xs_bg {
    max-width: 100%; }

  .sings-xs {
    padding-bottom: 2rem;
    padding-top: .4rem; }

  .sing_text_xs {
    margin-bottom: .1rem; } }
@media (min-width: 681px) and (max-width: 767px) {
  .sing_slider_xs_bg {
    max-width: 100%; }

  .sings-xs {
    padding-bottom: 2rem;
    padding-top: .5rem; }

  .sing_text_xs {
    margin-bottom: .45rem; } }
@media (min-width: 768px) and (max-width: 991px) {
  .singBao_a {
    font-size: 24px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 300px;
    height: 70px;
    border-radius: 35px;
    line-height: 70px;
    box-shadow: 0 5px 19px #ff6053;
    margin-left: 0; }

  .indexPro_adv, .indexPro_name, .indexPro_money {
    font-size: 18px;
    text-shadow: none; }

  .indexPro_ass {
    font-size: 16px; }

  .mp30 .indexPro_money {
    bottom: 10px;
    padding-right: .3rem;
    font-size: .16rem; }

  .miniKtv_p2 {
    font-size: .12rem;
    line-height: 1.6;
    margin-bottom: 2.5rem; }

  .sing_slider_xs_bg {
    max-width: 90%; }

  .sings-xs {
    padding-bottom: 2rem;
    padding-top: .6rem; }

  .sing_text_xs {
    margin-bottom: .3rem; }

  .miniKtv_t {
    margin-top: .5rem; } }
@media (min-width: 600px) and (max-width: 689px) {
  .miniKtv_p2 {
    margin-bottom: 3.3rem; } }
@media (min-width: 690px) and (max-width: 767px) {
  .miniKtv_p2 {
    margin-bottom: 4.2rem; } }
@media (min-width: 768px) and (max-width: 820px) {
  .miniKtv_p2 {
    margin-bottom: 4.6rem; } }
@media (min-width: 820px) and (max-width: 950px) {
  .miniKtv_p2 {
    margin-bottom: 5.5rem; }

  .sing_slider_xs_bg {
    max-width: 80%; }

  .sings-xs {
    padding-bottom: 2rem;
    padding-top: .7rem; } }
@media (min-width: 951px) and (max-width: 991px) {
  .miniKtv_p2 {
    margin-bottom: 6rem; }

  .sing_slider_xs_bg {
    max-width: 80%; }

  .sings-xs {
    padding-bottom: 2rem;
    padding-top: .8rem; }

  .sing_text_xs {
    margin-bottom: .5rem; } }
.pro-banner {
  margin-bottom: 50px; }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

.pro_slider {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-inner > .item {
  padding: 0;
  border: none; }

.arrow-left, .arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  color: #bebcbc;
  opacity: 0.3; }

.arrows .iconfont {
  font-size: 50px; }

.arrow-right {
  right: 3%; }

.arrow-left {
  left: 3%; }

.pro_arrows_right {
  right: 3%;
  color: #bebcbc;
  opacity: 0.3; }

.pro_arrows_left {
  left: 3%;
  color: #bebcbc;
  opacity: 0.3; }

.pro_arrows_right:hover, .pro_arrows_left:hover, .pro_arrows_right:focus, .pro_arrows_left:focus {
  opacity: 1;
  color: #bebcbc; }

.pro_arrows_right:active, .pro_arrows_left:active {
  opacity: 0.3;
  color: #bebcbc; }

.pro_img_info .pro_a, .pro_img_info .pro_a:hover {
  color: #fff; }

.pro_img_info {
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -112px;
  z-index: 3;
  color: #fff; }

.pro_ak2000 .pro_img_info, .pro_ak2000 .pro_img_info .pro_a, .pro_ak2000 .pro_img_info .pro_a:hover {
  color: #2e2e2e; }

.pro_img_info_name {
  font-size: 36px;
  font-weight: bold; }

.pro_img_info_adv {
  font-size: 24px; }

.pro_img_info_money {
  margin-top: 40px;
  font-size: 30px;
  color: #fff000; }

.buy_a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 15px 50px;
  margin-top: 5px;
  font-size: 18px;
  background: #fff;
  color: #ff0000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.buy_a:hover {
  color: #ff0000;
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
  -ms-transform: translate3d(0, -5px, 0);
  -o-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0); }

.pro_ak2000 .pro_img_info_money {
  color: #ff6000; }

.pro_ak2000 .buy_a, .mp30 .buy_a, .stk1 .buy_a, .ak2000 .buy_a {
  color: #fefefe;
  background: #ff5400; }

.pro_series_t {
  margin-bottom: 30px;
  text-align: center; }

.pro_imgs {
  width: 100%; }

.productBlock {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px; }

.column2_info {
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: -50px;
  text-align: center; }

.column_info {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 40px;
  text-align: center; }

.column_name {
  font-size: 18px;
  font-weight: bold;
  color: #030304;
  margin-bottom: 10px; }

.column_adv {
  font-size: 14px;
  color: #2e2e2e; }

.column_money {
  font-size: 18px;
  color: #ff6000;
  margin-top: 25px; }

.pro_block:hover {
  transform: translate3d(0, -2px, 0);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }

.pro_cont {
  margin-bottom: 55px; }

.pro_block {
  position: relative;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.pro_block .pro_info {
  position: absolute;
  top: 50%;
  right: 15%;
  margin-top: -105px;
  width: 450px;
  height: 210px;
  line-height: 1.6;
  color: #292929; }

.pro_a .pro_info, .pro_a:hover .pro_info {
  color: #292929; }

.productBlock .pro_info {
  margin-top: -65px;
  width: 250px;
  height: 130px;
  text-align: left;
  line-height: 1.8;
  color: #292929;
  left: 10%;
  right: auto; }

.productBlock .pro_name {
  font-size: 24px;
  font-weight: bold; }

.productBlock .pro_money {
  font-size: 24px; }

.productBlock .pro_adv {
  font-size: 14px; }

.ak8000 .pro_info {
  left: 13%; }

.ak2000 .pro_info {
  left: 13%;
  margin-top: -40px; }

.pro_name {
  font-size: 36px;
  font-weight: bold; }

.pro_adv {
  font-size: 24px; }

.pro_a {
  display: block; }

.pro_a, .pro_a:hover {
  color: #292929; }

.pro_money {
  font-size: 30px;
  color: #ff5400;
  margin-top: 20px; }

.ak8000 .pro_money {
  color: #fff000; }

.stk1 .pro_info, .ak2000 .pro_info {
  color: #292929; }

.pro_a, .pro_a:hover {
  color: #292929; }

.ak8000 .pro_info .pro_a, .ak8000 .pro_info:hover .pro_a {
  color: #fff; }

@media (max-width: 991px) {
  .pro_img_info {
    position: absolute;
    top: 20%;
    left: 15px;
    margin-top: 0; }

  .pro_img_info_name {
    font-size: .16rem; }

  .pro_img_info_adv {
    font-size: .13rem; }

  .pro_img_info_money {
    margin-top: .1rem;
    font-size: .16rem; }

  .buy_a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: .08rem .18rem;
    margin-top: 5px;
    font-size: .14rem; }

  .pro_block .pro_info {
    position: absolute;
    top: .12rem;
    right: auto;
    left: auto;
    margin-top: 0;
    width: 100%;
    height: auto;
    line-height: 1.4;
    text-align: center; }

  .productBlock .pro_name, .productBlock .pro_money, .column_money, .pro_name {
    font-size: .16rem; }

  .column_name {
    font-size: .16rem;
    margin-bottom: 0; }

  .column_adv, .productBlock .pro_adv, .pro_adv {
    font-size: .13rem; }

  .column_money, .productBlock .pro_money {
    margin-top: 0; }

  .pro_series_t {
    margin-bottom: .22rem;
    text-align: left;
    font-size: .16rem; }

  .pro_cont .pro_series_t {
    margin-top: .22rem; }

  .ak2000 .pro_block {
    margin-bottom: .22rem; }

  .mp30 .pro_series_t {
    margin-top: 0; }

  .pro-banner {
    margin-bottom: 0; }

  .column_info {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: auto;
    top: .12rem;
    line-height: 1.4; }

  .productBlock {
    margin-bottom: .22rem;
    position: relative;
    text-align: center; }

  .column2_info {
    position: absolute;
    right: auto;
    left: auto;
    top: .12rem;
    margin-top: 0;
    width: 100%;
    line-height: 1.4; }

  .pro_cont {
    margin-bottom: 0; }

  .pro_money {
    font-size: .16rem;
    margin-top: 0; }

  .ak2000 .pro_money {
    color: #fffc01; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .pro_img_info_name {
    font-size: 24px; }

  .pro_img_info_adv {
    font-size: 18px; }

  .pro_img_info_money {
    margin-top: 20px;
    font-size: 20px; }

  .buy_a {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 5px;
    font-size: 16px; }

  .pro_img_info {
    margin-top: -76px; }

  .pro_block .pro_info {
    right: 0;
    margin-top: -70px; }

  .pro_name {
    font-size: 22px; }

  .pro_adv {
    font-size: 18px; }

  .pro_money {
    font-size: 18px; }

  .ak8000 .pro_info, .ak2000 .pro_info {
    left: 13%; }

  .ak2000 .pro_info {
    margin-top: -30px; }

  #footer .container {
    background: #fff; } }
@media (min-width: 1200px) and (max-width: 1600px) {
  .productBlock {
    margin-bottom: 25px; }

  .productBlock .column_money {
    margin-top: 10px; }

  .column_name {
    margin-bottom: 5px; }

  .column_info {
    bottom: 30px; }

  .column2_info {
    margin-top: -40px; }

  .pro_cont .row {
    margin-left: -8px;
    margin-right: -8px; }

  .pro_cont .col-lg-3, .pro_cont .col-lg-6 {
    padding-left: 8px;
    padding-right: 8px; }

  .pro_block .pro_info {
    right: 5%;
    margin-top: -80px; }

  .pro_name {
    font-size: 24px; }

  .pro_adv {
    font-size: 20px; }

  .pro_money {
    font-size: 20px; }

  .ak8000 .pro_info, .ak2000 .pro_info {
    left: 13%; }

  .ak2000 .pro_info {
    margin-top: -40px; } }
@media (min-width: 1000px) and (max-width: 1200px) {
  .newsModal .modal-dialog {
    width: 970px; }

  .newsDiv {
    height: 450px; }

  .newsContent {
    padding: 30px; } }
@media (min-width: 1201px) and (max-width: 1280px) {
  .newsModal .modal-dialog {
    width: 1170px; }

  .newsDiv {
    height: 460px; } }
@media (min-width: 1281px) and (max-width: 1440px) {
  .newsModal .modal-dialog {
    width: 1170px; }

  .newsDiv {
    height: 460px; } }
@media (min-width: 1441px) and (max-width: 1600px) {
  .newsModal .modal-dialog {
    width: 1210px; }

  .newsDiv {
    height: 480px; }

  .newsContent {
    padding: 75px 120px; } }
@media (min-width: 1600px) {
  .newsModal .modal-dialog {
    width: 1590px;
    margin: 82px auto; } }

/*# sourceMappingURL=app.css.map */
