
html.magnifying > body {
    overflow-x: hidden !important;
}
.magnify,
.magnify > .magnify-lens,
.magnify-mobile,
.lens-mobile { /* Reset */
    min-width: 0;
    min-height: 0;
    animation: none;
    border: none;
    float: none;
    margin: 0;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0;
    text-indent: 0;
    transform: none;
    transition: none;
}
.magnify {
    position: relative;
    width: auto;
    height: auto;
    box-shadow: none;
    display: inline-block;
    z-index: inherit;
}
.magnify > .magnify-lens { /* Magnifying lens */
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    /* Multiple box shadows to achieve the glass lens effect */
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    cursor: none;
    display: none;
    z-index: 99;
}
.magnify > .magnify-lens.loading {
    background: #333 !important;
    opacity: 0.8;
}
.magnify > .magnify-lens.loading:after { /* Loading text */
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #fff;
    content: 'Loading...';
    font: italic normal 16px/1 Calibri, sans-serif;
    letter-spacing: 1px;
    margin-top: -8px;
    text-align: center;
    text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
    text-transform: none;
}
.ban{ width:700px; height:760px; position:relative; overflow:hidden;margin:0 auto;z-index:2;background: #fff;box-shadow: 0 0 27px rgba(0,0,0,0.1)}
.ban2{ width:700px; height:600px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:700px; height:600px;text-align: center;overflow: hidden;line-height: 600px;}
.ban2 ul li img{max-width: 100%;}
.num{ height:110px;overflow:hidden; width:475px; position:relative;margin: 0 auto;}
.min_pic{ padding-top:10px; width:540px;margin: 0 auto;position: relative;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:110px; height:110px; margin:0 5px; border: 1px solid #ebebeb;overflow: hidden;text-align: center;line-height: 110px;}
.num ul li img{max-width: 100%;}
.num ul li.on{ border:1px solid #ff6000; padding:0;}
.prev_btn1{ left: 0;}
.next_btn1{ right: 0;}
.prev_next{
    position: absolute;
    top: 52px;
    display: none;
    width:16px; text-align:center; height:18px; cursor:pointer;
}
.prev_next:hover,.prev_next:focus{
    color: #ff6000;
}
#sdw-wrap{visibility: hidden;width: 100%;overflow: hidden;min-height: 100%;}
.sdw-container .pa{position: absolute;}
.container{width: 62.5%;min-width: 768px;margin: 0 auto;}
.sdw-container{position: relative;width: 100%;background: #f3f3f3;}
.sdw-container .title{font-size: 47.5px;margin-bottom:65px;}
.sdw-container .ctx{font-size: 22.5px;}
@media (max-width: 1200px) {
    .sdw-container .title{font-size: 42.75px;margin-bottom:58.5px; }
    .sdw-container .ctx{font-size: 20.25px;}
}
.sdw-container  .icons,.sdw-container  .title,.sdw-container  .ctx{ position:relative;transition-property:transform,top,left; -webkit-transition-property: transform,top,left; -moz-transition-property: transform,top,left; -ms-transition-property: transform,top,left; -o-transition-property: transform ,top,left;}
.sdw-container  .icons img{transition-property:opacity; -webkit-transition-property: opacity; -moz-transition-property: opacity; -ms-transition-property: opacity; -o-transition-property: opacity;}
.sdw-container .disn{ display:none;}
.sdw-container .c-red{ color:#d11515;} /*绾㈣壊*/
.ie8 #cbg-main-nav li > a{ padding:0 13px;}
.sdw.cbg .product-nav{display: block}
.pa{position: absolute;left: 0;top: 0;}

@media screen and (min-width: 769px){
    #sdw-wrap .sdw-mobile{display: none;}
}
@media (max-width: 768px) {
    #sdw-wrap .sdw-pc{display: none;}
}

.sdw-animate{position: relative;

    /*transition-timing-function: cubic-bezier( 0.6, 0.2, 0.1, 1 );-webkit-transition-timing-function: cubic-bezier( 0.6, 0.2, 0.1, 1 );-moz-transition-timing-function: cubic-bezier( 0.6, 0.2, 0.1, 1 );-o-transition-timing-function: cubic-bezier( 0.6, 0.2, 0.1, 1 );-ms-transition-timing-function: cubic-bezier( 0.6, 0.2, 0.1, 1 );*/
    transition-timing-function: ease-in;-webkit-transition-timing-function: ease-in;-moz-transition-timing-function: ease-in;-o-transition-timing-function: ease-in;-ms-transition-timing-function: ease-in;

    backface-visibility: hidden; -webkit-backface-visibility: hidden; -ms-backface-visibility:hidden; -moz-backface-visibility: hidden;}

@media (max-width: 768px) {
    .sdw-container .container {
        width: 88%;
        min-width: initial;
    }

    .sdw-container .ps {
        width: 92%;
        left: 4%;
    }

}


.block{ overflow: hidden;font-size: 0;font-family:  "Microsoft Yahei";background: #f3f3f3;}

.block2{position:relative;z-index: 2;}

.block2-div{
    position: relative;
    text-align: center;
    padding-top: 80px;
}
.sdw-animate{
    position: relative;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility:hidden;
    -moz-backface-visibility: hidden;
}
.block1{position: relative;}
.block-words{
    width: 1200px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
}
.block-words-right{
    width: 45%;
    margin-left: 55%;
}
.block-words-right img{
    max-width: 100%;
}
.pageImg{
    max-width: 100%;
    margin-top: 80px;
}
.block3{
    background: #2c2b27;
}
.block4{
    background: #fff;
}
.blockBg{
    width: 100%;
}
.white_color{
    color: #fff;
}
.yel-color{
    color: #ff6000;
}
/*e5详情*/
.block-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.block-content p{
    margin-bottom: 6px;
}
.block-cont-left{
    position: relative;
    padding-top: 20%;
}
.block3-content{
    position: relative;
}
.searchDevice{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.searchDeviceXh{
    position: absolute;
    top: -160px;
    left: 360px;
    z-index: 3;
}
.block3 .block2-div{
    padding: 50px 0;
}
.block6_div{
    margin: 90px 0;
}
.block6_div_block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 50px;
    vertical-align: middle;
    text-align: left;
}
.page-img6-icon{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
}
@media (min-width: 1700px){
    .page-img6-icon{
        margin-left: 20%;
    }
}
.ass-jm-div{
    overflow: hidden;
    text-align: center;
}
.pageImg6,.ass-img,.parameter-img{
    max-width: 100%;
}
.ass-p{
    margin: 15px 0;
}
.block7-function{
    margin: 50px 0;
}
.block8-function{
    margin: 50px 0;
}
.block8-function .row{
    margin-left: -10px;
    margin-right: -10px;
}
.block8-function .col-md-3{
    padding-right: 10px;
    padding-left: 10px;
}
.block_title{
    text-align: center;
}
/*MP30详情*/
.mp30-content .block-cont-left{
    padding-top: 12%;
}
.block-left{
    position: absolute;
    top: 320px;
    left: -100px;
}
.block-right{
    position: absolute;
    top: 300px;
    right: -200px;
}
.block-left4{
    position: absolute;
    top: 450px;
    left: -100px;
}
.block-right4{
    position: absolute;
    top: 400px;
    right: -50px;
}
@media (min-width: 950px) and (max-width: 1200px){
    .block-left{
        position: absolute;
        top: 250px;
        left: -30px;
    }
    .block-left img{
        width: 45%;
    }
    .block-right img{
        width: 45%;
    }
    .block-right{
        position: absolute;
        top: 240px;
        right: -120px;
    }
    .block-left4{
        position: absolute;
        top: 250px;
        left: -50px;
    }
    .block-right4{
        position: absolute;
        top: 250px;
        right: 30px;
    }
    .block-left4 img{
        width: 60%;
    }
    .block-right4 img{
        width: 52%;
    }
}
@media (min-width: 1200px) and (max-width: 1299px){
    .block-left{
        position: absolute;
        top: 280px;
        left: 50px;
    }
    .block-left img{
        width: 60%;
    }
    .block-right img{
        width: 60%;
    }
    .block-right{
        position: absolute;
        top: 260px;
        right: -80px;
    }
    .block-left4{
        position: absolute;
        top: 350px;
        left: 20px;
    }
    .block-right4{
        position: absolute;
        top: 320px;
        right: 80px;
    }
    .block-left4 img{
        width: 70%;
    }
    .block-right4 img{
        width: 68%;
    }
}
@media (min-width: 1300px) and (max-width: 1399px){
    .block-left{
        position: absolute;
        top: 300px;
        left: 30px;
    }
    .block-left img{
        width: 62%;
    }
    .block-right img{
        width: 68%;
    }
    .block-right{
        position: absolute;
        top: 280px;
        right: -100px;
    }
    .block-left4{
        position: absolute;
        top: 350px;
        left: 20px;
    }
    .block-right4{
        position: absolute;
        top: 320px;
        right: 80px;
    }
    .block-left4 img{
        width: 70%;
    }
    .block-right4 img{
        width: 68%;
    }
}

@media (min-width: 1400px) and (max-width: 1599px){
    .block-left{
        position: absolute;
        top: 320px;
        left: 50px;
    }
    .block-left img{
        width: 65%;
    }
    .block-right img{
        width: 72%;
    }
    .block-right{
        position: absolute;
        top: 300px;
        right: -130px;
    }
    .block-left4{
        position: absolute;
        top: 350px;
        left: 0;
    }
    .block-right4{
        position: absolute;
        top: 320px;
        right: 80px;
    }
    .block-left4 img{
        width: 75%;
    }
    .block-right4 img{
        width: 70%;
    }
}
@media (min-width: 1600px) and (max-width: 1700px){
    .block-left{
        position: absolute;
        top: 320px;
        left: -20px;
    }
    .block-left img{
        width: 78%;
    }
    .block-right img{
        width: 80%;
    }
    .block-right{
        position: absolute;
        top: 300px;
        right: -130px;
    }
    .block-left4{
        position: absolute;
        top: 400px;
        left: -30px;
    }
    .block-right4{
        position: absolute;
        top: 370px;
        right: 50px;
    }
    .block-left4 img{
        width: 78%;
    }
    .block-right4 img{
        width: 72%;
    }
}
/*规格参数*/
.specification{
    padding: 82px 0;
}
/*常见问题*/
.qaBlock{
    padding: 82px 0;
}
.qaList li{
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}
.questions{
    font-size: 24px;
    margin-bottom: 20px;
    color: #2b2b2b;
}
.answers{
    font-size: 20px;
    color: #9d9c9c;
}
.f24-bold{
    font-weight: bold;
}
.f24-bolda{
    font-size: 24px;
    font-weight: bold;
}
.more{
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}
.more a{
    color:#ff6000;
}
/*云端歌库*/
.block_songs{
    position: relative;
    padding-bottom: 82px;
    overflow: hidden;
}
.songs_server{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
}
.songs_global,.songs_midi,.songs_ku{
    position: relative;
}
.songs_server_text{
    text-align: center;
    color: #fff;
    margin-top: 16.5%;
    line-height: 4;
}
.server_title{
    font-weight: bold;
    letter-spacing: 3px;
}
.server_p{
    margin: 5px 0;
}
.songs_ku_text{
    position: absolute;
    bottom: 60px;
    right: 20%;
    line-height: 3;
}
.songs_global_text{
    position: absolute;
    top: 50px;
    left: 160px;
    color: #fff;
    line-height: 3;
}
.songs_midi_text{
    position: absolute;
    bottom: 80px;
    left: 160px;
    line-height: 3;
}
@media (min-width: 1200px) and (max-width: 1600px){
    .songs_ku_text{
        bottom: 35px;
        right: 15%;
    }
    .songs_global_text{
        top: 20px;
        left: 100px;
    }
    .songs_midi_text{
        bottom: 40px;
        left: 100px;
    }
}
@media (min-width: 768px) and (max-width: 1200px){
    .block2-div{
        padding-top: 60px;
    }
    .songs_ku_text{
        bottom: 15px;
        right: 10%;
    }
    .songs_global_text{
        top: 5px;
        left: 60px;
    }
    .songs_midi_text{
        bottom: 15px;
        left: 60px;
    }
    .songs_server_text{
        margin-top: 15%;
    }
    .searchDevice{
        width: 300px;
    }
    .searchDeviceXh{
        width: 100px;
        position: absolute;
        top: -100px;
        left: 300px;
    }
}

/*流媒体*/
.media_tech_text{
    text-align: center;
    color: #fff;
    margin-top: 15%;
    line-height: 3;
}
.medias_block{
    text-align: center;
}
.medias_adv{
    position: relative;
}
.medias_adv_text{
    position: absolute;
    right: 10%;
    top:30%;
    text-align: center;
    line-height: 2;
}
.music_block_text2{
    position: absolute;
    left: 10%;
    top:30%;
    text-align: center;
    line-height: 2;
}
.medias_adv_block{
    width: 100%;
    padding-top: 60px;
    background: #fff;
    text-align: center;
    margin-top: 82px;
}
.mediaImg{
    width: 100%;
    margin-top: 10px;
}
.media_icon{
    max-width: 100%;
}
.media_adv_title{
    font-size: 24px;
    color: #ff6000;
    margin: 25px 0 30px;
    letter-spacing: 3px;
}
.medias_adv_block p{
    margin-bottom: 10px;
}
.medias_pro_text{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #fff;
    line-height: 2;
    text-align: center;
}
.medias_pro{
    position: relative;
}
@media (min-width: 768px) and (max-width: 1200px){
    .medias_pro_text{
        top: 32%;
        left: 8%;
    }
    .medias_adv_text{
        right: 5%;
        top:25%;
    }
    .music_block_text2{
        left: 5%;
        top:25%;
    }
    .media_tech_text{
        margin-top: 12%;
    }
}