<div class="block block1" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="qaBlock">
            <ul class="qaList">
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30有哪几种颜色？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，目前MP30系列颜色有黑色、白色、玫瑰金色，请选择您喜欢的颜色购买吧。</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>新疆地区、内蒙古地区、西藏地区等偏远地区可以正常派送吗？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，受安全管控影响，新疆省部分区域将派件延迟或无法派件，下单前请先咨询客服沟通。谢谢！</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30自带的有多少首歌曲，是否高音质？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，MP30自带有4万首歌曲，我们云端歌库，全球歌曲超过30万，全部为正版授权，MIDI高音质歌曲！</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30可以边下载边K歌吗？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，我们采用流媒体技术，您可边下载边K歌，对您的享受K歌不会有任何影响。</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30有什么特色功能？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，MP30对于市面的点歌机，具有主旋律点歌、乐谱点歌、乐器伴奏、实时评分等等特色功能，为您的K歌娱乐添加更多的乐趣。</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30配有几个麦克风？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，MP30配备了2个我们的特色麦克风，集遥控点歌于一体，独乐乐不如众乐乐！</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30有什么保障？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，我们承诺7天无理由包退，30天包换，全国一年联保，免除你售后的后顾之忧</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30可以边下载边K歌吗？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，我们采用流媒体技术，您可边下载边K歌，对您的享受K歌不会有任何影响。</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30有什么特色功能？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，MP30对于市面的点歌机，具有主旋律点歌、乐谱点歌、乐器伴奏、实时评分等等特色功能，为您的K歌娱乐添加更多的乐趣。</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30配有几个麦克风？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，MP30配备了2个我们的特色麦克风，集遥控点歌于一体，独乐乐不如众乐乐！</p>
                </li>
                <li>
                    <p class="questions"><span class="f24-bold">Q：</span>MP30有什么保障？</p>
                    <p class="answers"><span class="f24-bolda">A：</span>亲爱的顾客您好，我们承诺7天无理由包退，30天包换，全国一年联保，免除你售后的后顾之忧</p>
                </li>
            </ul>
            <!--<div class="more"><a href="javascript:;">查看更多<br><img th:src="@{/images/down_img.png}"></a></div>-->
        </div>
    </div>
</div>