<div class="block block1" xmlns:th="http://www.thymeleaf.org">
        <img class="blockBg" th:src="@{/images/mp30-page-img1.jpg}">
        <div class="block-words block2-div white_color">
            <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">想唱就唱，随身KTV</p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
                可以移动的掌上KTV，无需有线，手机蓝牙连接即可K歌
            </p>
            <div class="block-left">
                <img class="sdw-animate" th:src="@{/images/mp30-page-img1-l.png}" data-start="{&quot;transform&quot;:&quot;translate3d(0,0,0) &quot;}"
                     data-end="{&quot;transform&quot;:&quot;translate3d(50px,-50px,0) &quot;}" data-speed="1500" data-delay="0.4s">
            </div>
            <div class="block-right">
                <img class="sdw-animate" th:src="@{/images/mp30-page-img1-r.png}" data-start="{&quot;transform&quot;:&quot;translate3d(0,0,0) &quot;}"
                     data-end="{&quot;transform&quot;:&quot;translate3d(-50px,-50px,0) &quot;}" data-speed="2000" data-delay="1s">
            </div>
        </div>
    </div>
    <div class="block block2" xmlns:th="http://www.thymeleaf.org">
        <img class="blockBg" th:src="@{/images/mp30-page-img2.jpg}">
        <div class="block-content mp30-content">
            <div class="container">
                <div class="block-cont-left white_color">
                    <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">边唱边听，360°立体环绕音效</p>
                    <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
                        内置高品质扬声器，可边唱边听，智能降噪
                    </p>
                    <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">
                        输出高品质音质，蓝牙链接可作为音箱使用
                    </p>
                    <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.6s" data-occur="1">
                        立体环绕，体验不一样的K歌体验余音绕绕！
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="block block1" xmlns:th="http://www.thymeleaf.org">
        <img class="blockBg" th:src="@{/images/mp30-page-img3.jpg}">
        <div class="block-words block2-div white_color">
            <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">超大容量电池，持久续航</p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
                内置2200mAh电池，持续K歌，摆脱频繁充电困扰
            </p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">
                随身携带，随时随地，想唱就唱~
            </p>
        </div>
    </div>
    <div class="block block1" xmlns:th="http://www.thymeleaf.org">
        <img class="blockBg" th:src="@{/images/mp30-page-img4.jpg}">
        <div class="block-words block2-div white_color">
            <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">支持蓝牙4.2，稳定不断连</p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
                边看边听边唱，停不下来，蓝牙4.2信号强、距离远
            </p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">
                即是手机K歌宝，又是蓝牙音响
            </p>
            <div class="block-left4">
                <img class="sdw-animate" th:src="@{/images/mp30-page-img4-l.png}" data-start="{&quot;transform&quot;:&quot;translate3d(0,0,0) &quot;}"
                     data-end="{&quot;transform&quot;:&quot;translate3d(50px,-50px,0) &quot;}" data-speed="2000" data-delay="1s">
            </div>
            <div class="block-right4">
                <img class="sdw-animate" th:src="@{/images/mp30-page-img4-r.png}" data-start="{&quot;transform&quot;:&quot;translate3d(0,0,0) &quot;}"
                     data-end="{&quot;transform&quot;:&quot;translate3d(-50px,-50px,0) &quot;}" data-speed="1500" data-delay="0.4s">
            </div>
        </div>
    </div>
    <div class="block block1" xmlns:th="http://www.thymeleaf.org">
        <img class="blockBg" th:src="@{/images/mp30-page-img5.jpg}">
        <div class="block-words block2-div white_color">
            <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">自主研发专利混合芯片</p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
                自主研发专业混合芯片提供高音、低音、回音等功能
            </p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">
                随心所欲调节您想要的音效！
            </p>
        </div>
    </div>
    <div class="block block1" xmlns:th="http://www.thymeleaf.org">
        <img class="blockBg" th:src="@{/images/mp30-page-img6.jpg}">
        <div class="block-words block2-div">
            <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">全面兼容各种蓝牙设备和APP</p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
                兼容安卓、IOS各种手机、平板、笔记本，各式各样音乐、K歌APP软件
            </p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">
                完美兼容音特K歌软件<span class="yel-color">“人人唱APP”</span>，随时随地享受K歌生活
            </p>
        </div>
    </div>
    <div class="block block4" xmlns:th="http://www.thymeleaf.org">
        <div class="block2-div">
            <div class="container">
                <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">按键接口说明</p>
                <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">直观易操作，告别复杂繁琐</p>
                <img class="pageImg" th:src="@{/images/mp30-page-img7.jpg}">
            </div>
        </div>
    </div>
    <div class="block block1" xmlns:th="http://www.thymeleaf.org">
        <img class="blockBg" th:src="@{/images/noPackingList.jpg}">
    </div>