<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="zh-cn" class="ie6 ie ltie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7 ]>
<html lang="zh-cn" class="ie7 ie ltie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]>
<html lang="zh-cn" class="ie8 ie ltie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9 ]>
<html lang="zh-cn" class="ie9 ie" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-cn" class="normal" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="音特"/>
    <meta name="keywords" content="音特，音特电子，话筒"/>
    <meta name="description" content="音特电子，话筒"/>
    <title>音特电子</title>
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" >

    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>

    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.1&key=de5a0c22bfae0dcd9ff695a9e5f89c17&plugin=AMap.CitySearch"></script>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <!-- 通用头部-->
    <header class="header navbar-fixed-top" th:include="/public/_header::header">
    </header>

    <!--banner-->
    <section class="index-banner">
        <div id="carousel-index" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-index" data-slide-to="0" class="active"><a class="dot" href="javascript:void(0)"></a></li>
                <li data-target="#carousel-index" data-slide-to="1"><a class="dot" href="javascript:void(0)"></a></li>
                <li data-target="#carousel-index" data-slide-to="2"><a class="dot" href="javascript:void(0)"></a></li>
            </ol>
            <!--/*@thymesVar id="banners" type="java.util.ArrayList"*/-->
            <!--/*@thymesVar id="banner" type="com.enter.entity.Banner"*/-->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div th:class="${itemStat.index == 0}?'item active':'item'" th:each="banner,itemStat:${banners}">
                    <div class="banner_slider">
                        <img th:src="${banner.picUrl}" alt="">
                        <a class="banner_link" th:href="${banner.url}"><img th:src="${banner.picUrl2}"></a>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="arrows arrow-left" href="#carousel-index" role="button" data-slide="prev">
                <span class="iconfont icon-zuofanhui" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="arrows arrow-right" href="#carousel-index" role="button" data-slide="next">
                <span class="iconfont icon-right-arrow" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!-- 内容区-->
    <section class="content_index">
        <!--APP应用-->
        <div class="apps">
            <div class="sings">
                <!--APP应用-->
                <div class="app">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="app_a" th:href="@{/songs}">
                                    <div class="app_div">
                                        <img class="app_div_bg" th:src="@{/images/yd_bg.jpg}">
                                        <div class="app_div_text">
                                            <i class="iconfont icon-yunxiazai"></i>
                                            <div class="app_div_p">
                                                <p class="app_div_t">云端歌库</p>
                                                <p class="app_div_adv">全球最全云端歌库</p>
                                            </div>
                                        </div>
                                        <div class="shadow">
                                            <div class="app_div_text">
                                                <i class="iconfont icon-yunxiazai"></i>
                                                <div class="app_div_p">
                                                    <p class="app_div_t">云端歌库</p>
                                                    <p class="app_div_adv">全球最全云端歌库</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="app_a" th:href="@{/media}">
                                    <div class="app_div">
                                        <img class="app_div_bg" th:src="@{/images/yd_bg.jpg}">
                                        <div class="app_div_text">
                                            <i class="iconfont icon-liumeiti"></i>
                                            <div class="app_div_p">
                                                <p class="app_div_t">流媒体技术</p>
                                                <p class="app_div_adv">边传边播，更加高效</p>
                                            </div>
                                        </div>
                                        <div class="shadow">
                                            <div class="app_div_text">
                                                <i class="iconfont icon-liumeiti"></i>
                                                <div class="app_div_p">
                                                    <p class="app_div_t">流媒体技术</p>
                                                    <p class="app_div_adv">边传边播，更加高效</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="app_a" th:href="@{/music}">
                                    <div class="app_div">
                                        <img class="app_div_bg" th:src="@{/images/yd_bg.jpg}">
                                        <div class="app_div_text">
                                            <i class="iconfont icon-yinfu_"></i>
                                            <div class="app_div_p">
                                                <p class="app_div_t">乐器演奏</p>
                                                <p class="app_div_adv">让K歌更加有趣、专业</p>
                                            </div>
                                        </div>
                                        <div class="shadow">
                                            <div class="app_div_text">
                                                <i class="iconfont icon-yinfu_"></i>
                                                <div class="app_div_p">
                                                    <p class="app_div_t">乐器演奏</p>
                                                    <p class="app_div_adv">让K歌更加有趣、专业</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="sing_t" th:src="@{/images/sing.png}">
                <div class="sing_text">
                    <div class="sing_p" id="sliderText1">人人唱歌库均为独家精心编曲制作，拥有各国海量高品质音乐伴奏！</div>
                    <div class="sing_p" id="sliderText2">拥有智能评分、主旋律导唱、自由调节速度/音调/混响/主旋律等专业功能，为您带来不一样的K歌体验！</div>
                    <div class="sing_p" id="sliderText3">伴奏中可自主调节喜好的乐器，包括弦乐器、铜管、钢琴、吉他、贝斯、鼓等各类乐器，进行乐器独奏/集体演奏，为您的业余生活增添色彩！</div>
                    <div class="sing_p" id="sliderText4">户外K歌神器，0加载，少流量、多功能、高音质</div>
                    <div class="sing_p" id="sliderText5">人人唱是一款K歌 · 乐器演奏专业应用</div>
                    <div class="sing_p" id="sliderText6">大学社团，演奏爱好者，带有对乐器演奏兴趣的孩子的家长，乐器演奏培训班 学 · 练 · 秀</div>
                </div>
                <div class="sing_slider">
                    <div class="carousels">
                        <img class="phoneImg" th:src="@{/images/iphone.png}" alt="phone"/>
                        <div class="slides">
                            <div><img alt="" th:src="@{/images/rr-img1.png}"><span class="cover"></span></div>
                            <div><img alt="" th:src="@{/images/rr-img2.png}"><span class="cover"></span></div>
                            <div><img alt="" th:src="@{/images/rr-img3.png}"><span class="cover"></span></div>
                            <div><img alt="" th:src="@{/images/rr-img4.png}"><span class="cover"></span></div>
                            <div><img alt="" th:src="@{/images/rr-img4.png}"><span class="cover"></span></div>
                            <div><img alt="" th:src="@{/images/rr-img3.png}"><span class="cover"></span></div>
                            <div><img alt="" th:src="@{/images/rr-img2.png}"><span class="cover"></span></div>
                        </div>
                    </div>
                </div>
                <a class="prev_btn" href="http://118.190.204.56/app/download/rrc/EveryoneSingChn1.apk">
                    <div class="circle_btn">
                        <div class="out1"></div>
                        <div class="out2"></div>
                        <div class="out3">
                            <i class="iconfont icon-right-arrow"></i>
                        </div>
                    </div>
                    <p class="prev_btn_p">安装人人唱</p>
                </a>
            </div>

        </div>

        <!--商城-家庭娱乐-->
        <div class="index-shop">
            <div class="singBao">
                <img class="makfong" th:src="@{/images/feng.png}" alt="maikefeng">
                <a class="singBao_a" href="http://localhost:8080/product/view/id/14">使用K歌宝唱歌<i class="iconfont icon-right"></i></a>
            </div>
            <div class="container">
                <h2 class="pro_kinds">音特商城</h2>
                <p class="pro_kinds_words">音特专利技术，造就品质生活娱乐</p>
                <div class="row">
                    <div class="col-md-12 col-lg-6" >
                        <div class="productDiv mp30">
                            <!--/*@thymesVar id="flyProduct" type="com.enter.entity.Product"*/-->
                            <a th:href="'/product/view/id/' + ${flyProduct.id}">
                                <div class="pro-img">
                                    <img class="product_img" th:src="${flyProduct.thumbnail2}">
                                </div>
                                <div class="indexPro_info">
                                    <h3 class="indexPro_name" th:text="${flyProduct.name}">MP30</h3>
                                    <div class="indexPro_footer">
                                        <p class="indexPro_adv" th:text="${flyProduct.title}"></p>
                                        <p class="indexPro_ass" th:text="${flyProduct.categoryName}"></p>
                                        <p class="indexPro_money" th:text="'￥'+${flyProduct.priceSale}"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--/*@thymesVar id="ktvProduct" type="java.util.ArrayList"*/-->

                    <div class="col-md-6 col-lg-3" th:each="product:${ktvProduct}">
                        <!--/*@thymesVar id="product" type="com.enter.entity.Product"*/-->
                        <div class="productDiv">
                            <a th:href="'/product/view/id/' + ${product.id}">
                                <div class="pro-img">
                                    <img class="product_img" th:src="${product.thumbnail2}">
                                </div>
                                <div class="indexPro_info">
                                    <h3 class="indexPro_name" th:text="${product.name}"></h3>
                                    <div class="indexPro_footer">
                                        <p class="indexPro_adv" th:text="${product.title}"></p>
                                        <p class="indexPro_ass" th:text="${product.categoryName}"></p>
                                        <p class="indexPro_money" th:text="'￥'+${product.priceSale}"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="indexPro_more">
                    <a class="singBao_a" th:href="@{/product/view}">查看更多<i class="iconfont icon-right"></i></a>
                </div>
            </div>
        </div>
        <!--迷你KTV-->
        <div class="miniKtv">
            <div id="content">
                <div id="sdw-wrap">
                    <div class="block sdw-container">
                        <div class="sdw-animate" data-speed="3000" data-delay="0" data-occur="1">
                            <img class="miniKtvBg" th:src="@{/images/miniKtv.jpg}" alt="miniKtv">
                        </div>
                        <div class="block-words">
                            <div class="block-words-right">
                                <p class="title30 sdw-animate miniKtv_t" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500" data-delay="0s" data-occur="1">音特迷你KTV唱歌房</p>
                                <p class="ctx sdw-animate miniKtv_p1" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500" data-delay="0.2s" data-occur="1">我和音乐有个约会，想唱就唱，一台会唱歌的房子</p>
                                <p class="sup sdw-animate miniKtv_p2" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500" data-delay="0.4s" data-occur="1">迷你KTV房唱歌机，是一款全新的自主空间娱乐吧，以耳机体验为主集唱歌、练歌、录歌为一体，通过微信分享的物联网设备，满足消费者享受音乐和社交分享的需求！</p>
                                <img class="sdw-animate miniktv_gn" th:src="@{/images/gn.png}" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500" data-delay="0.6s" data-occur="1">
                                <p class="miniKtv_btn1 sdw-animate" data-start="{&quot;opacity&quot;:&quot;0&quot;}" data-end="{&quot;opacity&quot;:&quot;1&quot;}" data-speed="1500" data-delay="0.8s" data-occur="1" >
                                    <a class="btn-sing" href="http://118.190.204.56/app/download/rrc/EveryoneSingChn1.apk">
                                        <img class="iconImg" th:src="@{/images/andro.png}">使用人人唱点歌<img class="iconRight" th:src="@{/images/right2.png}">
                                    </a>
                                </p>
                                <p class="miniKtv_btn2 sdw-animate" data-start="{&quot;opacity&quot;:&quot;0&quot;}" data-end="{&quot;opacity&quot;:&quot;1&quot;}" data-speed="1500" data-delay="1s" data-occur="1"  >
                                    <a class="btn-sing" href="javascript:void(0);" onclick="loadMap()"><img class="iconImg" th:src="@{/images/sousuo.png}">查看附近的设备<img class="iconRight" th:src="@{/images/right2.png}"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer-->
    <footer id="footer" th:include="/public/_footer::footer">
    </footer>
</div>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-2.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery.easing.1.3.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-migrate-1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery.carousel-1.1.js}"></script>
<script type="text/javascript" th:src="@{/js/modernizr-custom.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sdw_hw.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/index/index.js}"></script>
<script type="text/javascript" th:src="@{/map/js/index-map.js}"></script>
<!-- Modal -->
<div class="modal newsModal" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="deviceModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 3px solid #ff6000;border-radius: 0;">
            <div class="closeImg" data-dismiss="modal" aria-label="Close"><i class="iconfont icon-close"></i></div>
            <div class="map_content" style="height:650px;">
                <div id="container"></div>
                <div id="panel"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>