<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div style="line-height: 3;font-size: 18px;">
        <h3>常见问题</h3>
        <p>5.15 英寸（对角线）</p>
        <p> 600nit 高亮度</p>
        <p> 1920 x 1080 分辨率，428 PPI，1500:1 对比度</p>
        <p> 94.4% NTSC色域，高色彩饱和度</p>
        <p> 支持阳光屏，强烈阳光下清晰可见屏幕内容</p>
        <p> 支持夜光屏</p>
        <p> 支持护眼模式</p>
        <p> 支持色温调节</p>
        <p> 支持标准模式，颜色更准确</p>
    </div>
    <div style="line-height: 3;font-size: 18px;">
        <p>5.15 英寸（对角线）</p>
        <p> 600nit 高亮度</p>
        <p> 1920 x 1080 分辨率，428 PPI，1500:1 对比度</p>
        <p> 94.4% NTSC色域，高色彩饱和度</p>
        <p> 支持阳光屏，强烈阳光下清晰可见屏幕内容</p>
        <p> 支持夜光屏</p>
        <p> 支持护眼模式</p>
        <p> 支持色温调节</p>
        <p> 支持标准模式，颜色更准确</p>
    </div>
    <div style="line-height: 3;font-size: 18px;">
        <p>5.15 英寸（对角线）</p>
        <p> 600nit 高亮度</p>
        <p> 1920 x 1080 分辨率，428 PPI，1500:1 对比度</p>
        <p> 94.4% NTSC色域，高色彩饱和度</p>
        <p> 支持阳光屏，强烈阳光下清晰可见屏幕内容</p>
        <p> 支持夜光屏</p>
        <p> 支持护眼模式</p>
        <p> 支持色温调节</p>
        <p> 支持标准模式，颜色更准确</p>
    </div>
    <div style="line-height: 3;font-size: 18px;">
        <p>5.15 英寸（对角线）</p>
        <p> 600nit 高亮度</p>
        <p> 1920 x 1080 分辨率，428 PPI，1500:1 对比度</p>
        <p> 94.4% NTSC色域，高色彩饱和度</p>
        <p> 支持阳光屏，强烈阳光下清晰可见屏幕内容</p>
        <p> 支持夜光屏</p>
        <p> 支持护眼模式</p>
        <p> 支持色温调节</p>
        <p> 支持标准模式，颜色更准确</p>
    </div>
</div>
<div class="block block4" xmlns:th="http://www.thymeleaf.org">
    <img  th:src="@{/img/bg-game.jpg}">
</div>