<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="音特"/>
    <meta name="keywords" content="音特，音特电子，话筒"/>
    <meta name="description" content="音特电子，话筒"/>
    <title>音特电子</title>
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/public/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" >-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--/*@thymesVar id="product" type="com.enter.entity.Product"*/-->
<!--/*@thymesVar id="thumbnail" type="com.enter.entity.Thumbnail"*/-->
<div class="wrapper">
    <!-- 通用头部-->
    <header>
        <div class="header navbar-fixed-top hidden-sm hidden-xs" th:include="/public/_header::header"></div>
        <div class="header-page-xs navbar-fixed-top visible-xs visible-sm" th:include="/public/_header::tel_page"></div>
    </header>
    <!-- 内容区-->
    <section class="page">
        <div class="page_navAdd hidden-sm hidden-xs">
            <div class="container">
                <!--位置导航-->
                <div class="navAdd">
                    <div class="navAdd-block">
                        <a class="navAdd-a" th:href="@{/}">首页</a>
                        <span class="navAdd-dot"></span>
                        <a class="navAdd-a" th:href="@{/product/view}">音特商城</a>
                        <span class="navAdd-dot"></span>
                        <a class="navAdd-a" th:text="${product.categoryName}"></a>
                        <span class="navAdd-dot"></span>
                        <a class="navAdd-a active" href="#" th:text="${product.name}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-product hidden-sm hidden-xs">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ban" id="demo1">
                        <div class="ban2" id="ban_pic1">
                            <ul>
                                <li th:each="thumbnail:${product.thumbnailSet}">
                                    <a th:href="${thumbnail.picUrl2}">
                                        <img  class="zoom" th:src="${thumbnail.picUrl3}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="min_pic">
                            <div class="prev_next prev_btn1" id="prev_btn1">
                                <i class="iconfont icon-you-copy f-24"></i>
                            </div>
                            <div class="num clearfix" id="ban_num1">
                                <ul class="clearfix">
                                    <li th:each="thumbnail:${product.thumbnailSet}">
                                        <a href="javascript:;">
                                            <img th:src="${thumbnail.picUrl}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="prev_next next_btn1" id="next_btn1">
                                <i class="iconfont icon-xia f-24"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="productRight">
                        <p class="productName" th:text="${product.categoryName+' '+product.name}"></p>
                        <input type="hidden" id="productId" th:value="${product.id}" />
                        <p class="productWords" th:text="${product.content}"></p>
                        <p class="productMoney_div" ><span class="colorsWords">价格：</span>
                            <span class="productMoney" th:text="'¥'+${product.priceSale}"></span>
                        </p>
                        <div class="colors">
                            <span class="colorsWords">颜色：</span>
                            <ul class="chooseColors choose clearfix" id="chooseColor">
                                <li th:class="${property.getNum()<1}?'disabledChoose':(${property.getNum()>1 and stat.index == 0}?'on':'')" th:each="property,stat:${product.getPropertySet()}" th:alt="${property.getColorNo()}" th:title="${property.getColorName()}">
                                        <span th:class="'colorCircle '+${property.getColorNo()}"></span>
                                        <span th:text="${property.getColorName()}"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="colors">
                            <span class="colorsWords">套餐：</span>
                            <ul class="chooseColors choose clearfix" id="chooseSeries">
                                <li class="on" alt="官方套餐">
                                    <span class="seriesName">官方标配</span>
                                </li>
                            </ul>
                        </div>
                        <div class="quantity">
                            <span class="colorsWords">数量：</span>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" onclick="m_count(this)"><i class="iconfont icon-jianhao"></i></button>
                                <input type="number" class="btn btn-default inputBtn" value="1" id="inputNum" min="1" required>
                                <button type="button" class="btn btn-default" onclick="m_count(this)"><i class="iconfont icon-jiahao1"></i></button>
                            </div>
                        </div>
                        <div class="proBuy">
                            <a class="addTo" id="addToCart" onclick="addCart()" >加入购物车</a>
                            <a class="addTo buyTo" id="buyNow" onclick="nowBuy()">立即购买</a>
                        </div>
                        <div class="proServices">
                            <span class="colorsWords">承诺：</span>
                            <div class="proService">
                                <i class="iconfont icon-tianwuliyoubaotui"></i>
                                <span class="footerService">7天无理由退货</span>
                                <i class="iconfont icon-tianbaohuan"></i>
                                <span class="footerService">30天包换</span>
                                <i class="iconfont icon-quanguobaoyou"></i>
                                <span class="footerService">全国包邮</span>
                                <i class="iconfont icon-quanguobaoxiu"></i>
                                <span class="footerService">全国联保</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--手机端-->
        <div class="page-product-xs visible-sm visible-xs">
            <div id="page-carousel-xs" class="carousel slide carousel-fade pro-banner" data-ride="carousel"  data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-target="#page-carousel-xs" data-slide-to="0" class="active"><a class="dot" href="javascript:void(0)"></a></li>
                    <li data-target="#page-carousel-xs" data-slide-to="1"><a class="dot" href="javascript:void(0)"></a></li>
                    <li data-target="#page-carousel-xs" data-slide-to="2"><a class="dot" href="javascript:void(0)"></a></li>
                    <li data-target="#page-carousel-xs" data-slide-to="3"><a class="dot" href="javascript:void(0)"></a></li>
                    <li data-target="#page-carousel-xs" data-slide-to="4"><a class="dot" href="javascript:void(0)"></a></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div th:class="${thumbnailStat.index ==0}?'item active':'item'" th:each="thumbnail,thumbnailStat:${product.thumbnailSet}">
                        <div class="page_slider_xs">
                            <img th:src="${thumbnail.mobileUrl}">
                        </div>
                    </div>

                </div>
            </div>
            <div class="page-product-cont-xs">
                <div class="page-xs-div">
                    <div class="container">
                        <p class="productName" th:text="${product.categoryName+' '+product.name}"></p>
                        <p class="productWords" th:text="${product.content}"></p>
                        <p class="productPrice">价格：<span class="productMoney" th:text="'¥'+${product.priceSale}"></span><!--<a class="pull-right" th:href="@{/discount}"><img class="click-discount" th:src="@{/images-xs/click-discount-xs.png}"></a>--></p>
                    </div>
                </div>
                <div class="page-xs-div">
                    <div class="container">
                        <p class="page-xs-div-t">颜色</p>
                        <ul class="chooseColors choose clearfix" id="chooseColor-xs">
                            <li th:class="${property.getNum()<1}?'disabledChoose':(${property.getNum()>1 and stat.index == 0}?'on':'')" th:each="property,stat:${product.getPropertySet()}" th:alt="${property.getColorNo()}" th:title="${property.getColorName()}">
                                <span th:class="'colorCircle '+${property.getColorNo()}"></span>
                                <span th:text="${property.getColorName()}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-xs-div">
                    <div class="container">
                        <p class="page-xs-div-t">套餐</p>
                        <ul class="chooseColors choose clearfix" id="chooseSeries-xs">
                            <li class="on">
                                <span class="seriesName">官方标配</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-xs-div quantity">
                    <div class="container">
                        <p class="page-xs-div-t">数量</p>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" onclick="m_count(this)"><i class="iconfont icon-jianhao"></i></button>
                            <input type="number" class="btn btn-default inputBtn" value="1" id="inputNum-xs" min="1" required>
                            <button type="button" class="btn btn-default" onclick="m_count(this)"><i class="iconfont icon-jiahao1"></i></button>
                        </div>
                    </div>
                </div>
                <div class="page-xs-buy">
                    <a class="addTo-xs pull-left" href="javascript:void(0)" id="addToCart-xs" onclick="addCart(this)">加入购物车</a>
                    <a class="addTo-xs buyTo-xs pull-right" href="javascript:void(0)" id="buyNow-xs" onclick="nowBuy()">立即购买</a>
                </div>
            </div>
        </div>

        <div class="page-detail">
            <div class="pageNav" >
                <div class="container">
                    <div class="page_scroll_nav">
                        <ul class="detailNav clearfix">
                            <li class="active">
                                <a class="details" href="#proDetail" aria-controls="proDetail" role="tab" data-toggle="tab">商品详情</a>
                            </li>
                            <li>
                                <a class="details" href="#spec" aria-controls="spec" role="tab" data-toggle="tab">规格参数</a>
                            </li>
                            <li>
                                <a class="details" href="#askQ" aria-controls="askQ" role="tab" data-toggle="tab">常见问题</a>
                            </li>
                        </ul>
                        <div class="pagePro_navRight hidden-xs hidden-sm">
                            <div class="pro_sec_div">
                                <div class="pro_sec_div_img">
                                    <img class="pro_sec_img" th:src="${product.thumbnail4}">
                                </div>
                                <div class="pro_sec_info">
                                    <p class="pro_sec_name"><span th:text="${product.categoryName+ ' ' + product.name}"></span><span class="pro_sec_money" th:text="'￥'+${product.priceSale}"></span></p>
                                    <p class="pro_sec_proInfo">已选：<span id="productColor"></span> <span>官方标配</span> <span id="productCount">1件</span></p>
                                </div>
                            </div>
                            <a class="addTo scrollBuyTo" href="javascript:void(0);" onclick="nowBuy()">立即购买</a>
                        </div>
                    </div>

                </div>
            </div>
            <div id="content" class="tab-content">
                <div id="proDetail" role="tabpanel" class="tab-pane active" th:include="${proDetail}">
                </div>
                <div role="tabpanel" class="tab-pane" id="spec" th:include="${spec}">

                </div>
                <div role="tabpanel" class="tab-pane" id="askQ" th:include="${askQ}">
                </div>
            </div>
        </div>
    </section>
    <!-- footer-->
    <footer id="footer">
        <div class="hidden-sm hidden-xs" th:include="/public/_footer::footer"></div>
    </footer>
    <!--addCartModal-->
    <div class="modal myInfoModal" tabindex="-1" role="dialog" id="addCartModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="iconfont icon-close"></span></button>
                </div>
                <div class="modal-body text-center">
                    <div class="addSuccess">
                        <i class="iconfont icon-duigou payOk"></i>
                        <span class="f-20">商品已成功加入购物车！</span>
                    </div>
                    <div class="addCartBtn">
                        <a class="addCart_a" th:href="@{/user/trolley/view}">去结算</a>
                        <a class="goShop_a" th:href="@{/product/view}">再逛逛</a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-2.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery.easing.1.3.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-migrate-1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/modernizr-custom.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pic_tab.js}"></script>
<script type="text/javascript" th:src="@{/js/sdw_hw.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/public/ajaxForm.js}"></script>
<script type="text/javascript" th:src="@{/js/public/alert.js}"></script>
<script type="text/javascript" th:src="@{/js/product/page.js}"></script>
<script type="text/javascript" >

</script>
</body>
</html>