<div id="proDetail" xmlns:th="http://www.thymeleaf.org">
    <div class="block">
        <img class="img-responsive" th:src="@{/images/page-img1.jpg}" alt="E2"/>
    </div>
    <div class="block block1">
        <img class="img-responsive" th:src="@{/images/page-img2.jpg}">
    </div>
    <div class="block block2">
        <div class="elva">
            <img th:src="@{/img/fragment-perfor-sec01-small.jpg}">
            <img th:src="@{/img/bg-design-small.jpg}">
        </div>
        <div class="circle" id="change">
            <img th:src="@{/img/btn-more.png}">
        </div>
        <div class="block2-div">
            <p class="title sdw-animate e2Title" data-start='{"transform":"translate3d(0,50px,0) "}'
               data-end='{"transform":"translate3d(0,0px,0) "}' data-speed="1500" data-delay="0s"
               data-occur="1">进口音源</p>
            <p class="title30 sdw-animate" data-start='{"transform":"translate3d(0,50px,0) "}'
               data-end='{"transform":"translate3d(0,0px,0) "}' data-speed="1500" data-delay="0.2s"
               data-occur="1">歌曲音质的好坏在于音源，我们采用世界顶级乐器制作而成的音源
                <br>从源头把关让您能享受顶级乐器的音质，让你唱出与众不同！</p>
            <img class="pageImg" th:src="@{/images/page-img3.jpg}">
        </div>
    </div>
    <div class="block block3">
        <div class="block2-div">
            <p class="title sdw-animate e2Title" data-start='{"transform":"translate3d(0,50px,0) "}'
               data-end='{"transform":"translate3d(0,0px,0) "}' data-speed="1500" data-delay="0s"
               data-occur="1">极简UI界面设计</p>
            <p class="title30 sdw-animate" data-start='{"transform":"translate3d(0,50px,0) "}'
               data-end='{"transform":"translate3d(0,0px,0) "}' data-speed="1500" data-delay="0.2s"
               data-occur="1">经过我们无数次用户调查、研究以及长期以来的改进
                <br>让我们的点歌系统的操作界面更加好用简便</p>
            <img class="pageImg" th:src="@{/images/page-img4.png}">
        </div>
    </div>
    <div class="block block4">
        <img class="img-responsive" th:src="@{/images/page-img7.jpg}">
    </div>
</div>