<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="footerOut">
            <div class="footer_container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="footerSer">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="footer-top">
                                        <i class="iconfont icon-tianwuliyoubaotui"></i>
                                        <span class="footerService">7天无理由退货</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="footer-top">
                                        <i class="iconfont icon-tianbaohuan"></i>
                                        <span class="footerService">30天包换</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="footer-top">
                                        <i class="iconfont icon-quanguobaoyou"></i>
                                        <span class="footerService">全国包邮</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="footer-top">
                                        <i class="iconfont icon-quanguobaoxiu"></i>
                                        <span class="footerService">全国联保</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footerLinks">
                            <ul class="footerList clearfix">
                                <li class="footerListLi"><a class="footer_a" th:href="@{/news/listNews}">新闻资讯</a></li>
                                <li class="footerListLi"><a class="footer_a" th:href="@{/activity}">活动中心</a></li>
                                <li class="footerListLi"><a class="footer_a" th:href="@{/product/view}">音特商城</a></li>
                                <li class="footerListLi"><a class="footer_a" th:href="@{/about}">关于我们</a></li>
                                <li class="footerListLi"><a class="footer_a" th:href="@{/contact}">联系我们</a></li>
                                <li class="footerListLi"><a class="footer_a" data-toggle="modal" data-target="#langModal">简体中文</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="footerContact">
                            <strong class="footer-call">400-119-5555</strong>
                            <p class="footer-text">( 24小时全国服务热线 )</p>
                            <div class="footerCodes">
                                <i class="iconfont icon-weibo"></i>
                                <img class="weibo" th:src="@{/images/weibo-img.jpg}">
                                <i class="iconfont icon-weixin2"></i>
                                <img class="weixin" th:src="@{/images/weixin-img.jpg}">
                                <i class="iconfont icon-qq1"></i>
                                <img class="qq" th:src="@{/images/timg.jpg}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBar">
            © dameigong.cn 2017 皖ICP备17012709号
    </div>
    <div class="modal newsModal langModal" id="langModal" tabindex="-1" role="dialog" aria-labelledby="langModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-lang-header">
                    <a class="close" data-dismiss="modal" aria-label="Close"><i class="iconfont icon-close f-32"></i></a>
                    <h4 class="modal-lang-title">Please select your country or region</h4>
                </div>
                <ul class="lang_list clearfix">
                    <li>
                        <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-cn"></i><span>简体中文</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-hk"></i><span>繁體中文</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-en"></i><span>English</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-ru"></i><span>日语</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-il"></i><span>韩语</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
