<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="footerOut">
            <div class="footer_container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="footerSer">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="footer-top">
                                        <i class="iconfont icon-tianwuliyoubaotui"></i>
                                        <span class="footerService">7天无理由退货</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="footer-top">
                                        <i class="iconfont icon-tianbaohuan"></i>
                                        <span class="footerService">30天包换</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="footer-top">
                                        <i class="iconfont icon-quanguobaoyou"></i>
                                        <span class="footerService">全国包邮</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="footer-top">
                                        <i class="iconfont icon-quanguobaoxiu"></i>
                                        <span class="footerService">全国联保</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footerLinks">
                            <ul class="footerList clearfix">
                                <li class="footerListLi"><a class="footer_a" th:href="@{/news/listNews}">新闻资讯</a></li>
                                <li class="footerListLi"><a class="footer_a" th:href="@{/activity}">活动中心</a></li>
                                <li class="footerListLi"><a class="footer_a" th:href="@{/product/view}">音特商城</a></li>
                                <li class="footerListLi"><a class="footer_a" th:href="@{/about}">关于我们</a></li>
                                <li class="footerListLi"><a class="footer_a" th:href="@{/contact}">联系我们</a></li>
                                <li class="footerListLi"><a class="footer_a" data-toggle="modal" data-target="#langModal">简体中文</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="footerContact">
                            <strong class="footer-call">400-119-5555</strong>
                            <p class="footer-text">( 24小时全国服务热线 )</p>
                            <div class="footerCodes">
                                <i class="iconfont icon-weibo"></i>
                                <img class="weibo" th:src="@{/images/weibo-img.jpg}">
                                <i class="iconfont icon-weixin2"></i>
                                <img class="weixin" th:src="@{/images/weixin-img.jpg}">
                                <i class="iconfont icon-qq1"></i>
                                <img class="qq" th:src="@{/images/timg.jpg}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBar">
            © dameigong.cn 2017 皖ICP备17012709号
    </div>
</div>

<!--移动端--footer-->
<div th:fragment="tel_index"  xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="footer-service-xs">
            <div class="row">
                <div class="col-xs-6">
                    <div class="footer-top-xs">
                        <i class="iconfont icon-tianwuliyoubaotui"></i>
                        <span class="footerService">7天无理由退货</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="footer-top-xs">
                        <i class="iconfont icon-tianbaohuan"></i>
                        <span class="footerService">30天包换</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="footer-top-xs">
                        <i class="iconfont icon-quanguobaoyou"></i>
                        <span class="footerService">全国包邮</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="footer-top-xs">
                        <i class="iconfont icon-quanguobaoxiu"></i>
                        <span class="footerService">全国联保</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerLinks">
            <ul class="footerList clearfix">
                <li class="footerListLi-xs"><a class="footer_a clearfix" th:href="@{/news/listNews}">新闻资讯<i class="iconfont icon-right pull-right"></i></a></li>
                <li class="footerListLi-xs"><a class="footer_a clearfix" th:href="@{/activity}">活动中心<i class="iconfont icon-right pull-right"></i></a></li>
                <li class="footerListLi-xs"><a class="footer_a clearfix" th:href="@{/product/view}">音特商城<i class="iconfont icon-right pull-right"></i></a></li>
                <li class="footerListLi-xs"><a class="footer_a clearfix" th:href="@{/about}">关于我们<i class="iconfont icon-right pull-right"></i></a></li>
                <li class="footerListLi-xs"><a class="footer_a clearfix" th:href="@{/contact}">联系我们<i class="iconfont icon-right pull-right"></i></a></li>
                <li class="footerListLi-xs"><a class="footer_a clearfix" data-toggle="modal" data-target="#langModal">简体中文<i class="iconfont icon-right pull-right"></i></a></li>
            </ul>
        </div>
        <div class="footerContact-xs clearfix">
            <div class="footer_xs_l">
                <strong class="footer-call">400-119-5555</strong>
                <p class="footer-text">( 24小时全国服务热线 )</p>
            </div>
            <div class="footerCodes-xs">
                <i class="iconfont icon-weibo"></i>
                <i class="iconfont icon-weixin2"></i>
                <i class="iconfont icon-qq1"></i>
            </div>
        </div>
        <div class="footerBar-xs">© dameigong.cn 2017 皖ICP备17012709号</div>
    </div>
</div>
