<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-8">
            <div class="footerSer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-top">
                            <i class="iconfont icon-tianwuliyoubaotui"></i>
                            <span class="footerService">7天无理由退货</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-top">
                            <i class="iconfont icon-tianbaohuan"></i>
                            <span class="footerService">30天包换</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-top">
                            <i class="iconfont icon-quanguobaoyou"></i>
                            <span class="footerService">全国包邮</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-top">
                            <i class="iconfont icon-quanguobaoxiu"></i>
                            <span class="footerService">全国联保</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerLinks">
                <ul class="footerList clearfix">
                    <li class="footerListLi"><a class="footer_a" th:href="@{/news}">新闻资讯</a></li>
                    <li class="footerListLi"><a class="footer_a" th:href="@{/activity}">活动中心</a></li>
                    <li class="footerListLi"><a class="footer_a" href="#">关于我们</a></li>
                    <li class="footerListLi"><a class="footer_a" th:href="@{/contact}">联系我们</a></li>
                    <li class="footerListLi"><a class="footer_a" href="#">语言：简体中文</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div id="footerContact">
                <strong class="footer-call">400-119-5555</strong>
                <p class="footer-text">( 24小时全国服务热线 )</p>
                <div class="footerCodes">
                    <i class="iconfont icon-weibo"></i>
                    <img class="weibo" th:src="@{/images/weibo-img.jpg}">
                    <i class="iconfont icon-weixin2"></i>
                    <img class="weixin" th:src="@{/images/weixin-img.jpg}">
                    <i class="iconfont icon-qq1"></i>
                    <img class="qq" th:src="@{/images/timg.jpg}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footerBar">
    <div class="container">
        © dameigong.cn 2017 皖ICP备17012709号
    </div>
</div>