<div th:fragment="lang" xmlns:th="http://www.thymeleaf.org">
    <div  class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-lang-header">
                <a class="close" data-dismiss="modal" aria-label="Close"><i class="iconfont icon-close f-32"></i></a>
                <h4 class="modal-lang-title">Please select your country or region</h4>
            </div>
            <ul class="lang_list clearfix">
                <li>
                    <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-cn"></i><span>简体中文</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-hk"></i><span>繁體中文</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-en"></i><span>English</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-ru"></i><span>日本語</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-countryhref="#" data-dismiss="modal"><i class="lang-logo lang-logo-il"></i><span>한국어</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>