<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="zh-cn" class="ie6 ie ltie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7 ]>
<html lang="zh-cn" class="ie7 ie ltie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]>
<html lang="zh-cn" class="ie8 ie ltie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9 ]>
<html lang="zh-cn" class="ie9 ie" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-cn" class="normal" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="音特"/>
    <meta name="keywords" content="音特，音特电子，话筒"/>
    <meta name="description" content="音特电子，话筒"/>
    <title>音特电子</title>
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" >

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <!-- 通用头部-->
    <header class="header navbar-fixed-top" th:include="/public/_header::header">
    </header>
    <!-- 内容区-->
    <div class="content">
        <section class="songs">
        <div id="content">
            <div class="block block_songs">
                <img class="blockBg" th:src="@{/images/songsBg1.jpg}">
                <div class="songs_server">
                    <div class="container">
                        <div class="songs_server_text">
                            <p class="title30 sdw-animate server_title" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">巨资打造的云端服务器</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">为了更好的K歌体验，音特电子投入巨资打造专属云端服务器，</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">配备了SSD高性能固态磁盘，更加稳定高效，同时支持千万用户同时在线，流畅使用，</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.6s" data-occur="1">确保我们用户的高品质的生活娱乐！</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block block_songs">
                <div class="container">
                    <div class="songs_ku">
                        <img class="blockBg" th:src="@{/images/songs_ku_bg.png}">
                        <div class="songs_ku_text">
                            <p class="title30 sdw-animate server_title" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">30万云端歌库，每月自动更新</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">中国歌曲的云端歌库超过30万首， 云端歌库歌曲数量超过国内</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">任何一家同行的歌曲数量。音特电子强大的音乐团队，  收纳时</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.6s" data-occur="1">下最热门、最流行的歌曲，每个星期准时自动更新。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block block_songs">
                <div class="container">
                    <div class="songs_global">
                        <img class="blockBg" th:src="@{/images/song_global.jpg}">
                        <div class="songs_global_text">
                            <p class="title30 sdw-animate server_title" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">全球云端歌库2,000万  您想要唱的都有</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">音特电子经过多年的发展，产品遍布全球各国，作为全球最杰出的便携式</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">卡拉OK制造商之一，拥有全球各个国家最全的歌库，全球各国歌曲总量</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.6s" data-occur="1">达到2,000万首以上，您找不到国外歌曲，您找到的音质不好的歌曲，您</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.8s" data-occur="1">都能在我们这里找到，并且我们能给您提供顶级音质的歌曲，我们的宗旨</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.8s" data-occur="1">就是让客户能够得到最好的生活娱乐体验！</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block block_songs">
                <div class="container">
                    <div class="songs_midi">
                        <img class="blockBg" th:src="@{/images/songs_midi_bg.png}">
                        <div class="songs_midi_text">
                            <p class="title30 sdw-animate server_title" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">MIDI歌曲，高清音质</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">音特电子云端歌曲采用了MIDI格式，   MIDI是编曲界最广泛的音乐标准格式</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">可称为“计算机能理解的乐谱“，我们的音源全部采用世界顶级乐器制作，音质</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.6s" data-occur="1">清晰。MIDI歌曲具有容量小、音质高清、下载迅速等等优点，一首歌曲仅仅需</p>
                            <p class="ps sdw-animate server_p" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.8s" data-occur="1">要2-5秒的时间就能完全下载，极速体验K歌乐趣。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- footer-->
    <footer id="footer">
        <div class="container">
            <div class="footerOut">
                <div class="footer_container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="footerSer">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="footer-top">
                                            <i class="iconfont icon-tianwuliyoubaotui"></i>
                                            <span class="footerService">7天无理由退货</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="footer-top">
                                            <i class="iconfont icon-tianbaohuan"></i>
                                            <span class="footerService">30天包换</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="footer-top">
                                            <i class="iconfont icon-quanguobaoyou"></i>
                                            <span class="footerService">全国包邮</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="footer-top">
                                            <i class="iconfont icon-quanguobaoxiu"></i>
                                            <span class="footerService">全国联保</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footerLinks">
                                <ul class="footerList clearfix">
                                    <li class="footerListLi"><a class="footer_a" href="news/news.html">新闻资讯</a></li>
                                    <li class="footerListLi"><a class="footer_a" href="activity/activity.html">活动中心</a></li>
                                    <li class="footerListLi"><a class="footer_a" href="product.html">音特商城</a></li>
                                    <li class="footerListLi"><a class="footer_a" href="about/about.html">关于我们</a></li>
                                    <li class="footerListLi"><a class="footer_a" href="contact.html">联系我们</a></li>
                                    <li class="footerListLi"><a class="footer_a" href="#">语言：简体中文</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="footerContact">
                                <strong class="footer-call">400-119-5555</strong>
                                <p class="footer-text">( 24小时全国服务热线 )</p>
                                <div class="footerCodes">
                                    <i class="iconfont icon-weibo"></i>
                                    <img class="weibo" th:src="@{/images/weibo-img.jpg}">
                                    <i class="iconfont icon-weixin2"></i>
                                    <img class="weixin" th:src="@{/images/weixin-img.jpg}">
                                    <i class="iconfont icon-qq1"></i>
                                    <img class="qq" th:src="@{/images/timg.jpg}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footerBar">
            © dameigong.cn 2017 皖ICP备17012709号
        </div>
    </footer>
</div>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-2.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery.easing.1.3.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/js/jquery-migrate-1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/modernizr-custom.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sdw_hw.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {

    });


</script>
</body>
</html>