<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="音特"/>
    <meta name="keywords" content="音特，音特电子，话筒"/>
    <meta name="description" content="音特电子，话筒"/>
    <title>音特电子</title>
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <!-- 通用头部-->
    <header class="header navbar-fixed-top" th:include="/public/_header::header"></header>
    <!-- 内容区-->
    <section class="content">
        <div class="container">
            <!--位置导航-->
            <div class="navAdd">
                <div class="navAdd-block">
                    <a class="navAdd-a" th:href="@{/}">首页</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a" th:href="@{/user/orders/view}">会员中心</a>
                    <span class="navAdd-dot"></span>
                    <a class="navAdd-a active" th:href="@{/discount}">优惠券</a>
                </div>
            </div>
            <!--个人中心-->
            <div class="person">
                <div class="row" th:with="activeState=3">
                    <div class="col-lg-3 col-md-2" th:include="/public/person_data::person_data"></div>
                    <div class="col-lg-9 col-md-10">
                        <div class="myOrder">
                            <div class="orderTitle clearfix">
                                <span class="f-24">优惠券</span>
                                <a class="discount_a pull-right" th:href="@{/product/view}">领取优惠券 <i class="iconfont icon-right f-24"></i></a>
                            </div>
                            <div class="discountImgs">
                                <!--有优惠券-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <a class="discountImg" th:href="@{/product/view}">
                                            <img th:src="@{/images/discountImg1.jpg}">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="discountImg" th:href="@{/product/view}">
                                            <img th:src="@{/images/discountImg3.jpg}">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="discountImg" th:href="@{/product/view}">
                                            <img th:src="@{/images/discountImg2.jpg}">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="discountImg" th:href="@{/product/view}">
                                            <img th:src="@{/images/discountImg2.jpg}">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="discountImg" th:href="@{/product/view}">
                                            <img th:src="@{/images/discountImg2.jpg}">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="discountImg" th:href="@{/product/view}">
                                            <img th:src="@{/images/discountImg2.jpg}">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="discountImg" th:href="@{/product/view}">
                                            <img th:src="@{/images/discountImg2.jpg}">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="discountImg" th:href="@{/product/view}">
                                            <img th:src="@{/images/discountImg2.jpg}">
                                        </a>
                                    </div>
                                </div>
                                <!--没有优惠券-->
                                <div id="withNoDiscount" style="display: none">
                                    <div class="noDiscount">
                                        <img th:src="@{/images/noDiscount.png}">
                                        <p class="noDiscount_p">您还没有任何优惠卷，快去领取吧！</p>
                                        <a class="noDiscount_a" th:href="@{/product/view}">去领取</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- footer-->
    <footer id="footer" th:include="/public/_footer::footer">
    </footer>
</div>
<script th:src="@{/plugins/jquery/js/jquery-2.1.3.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

</body>
</html>