<div class="block block1" xmlns:th="http://www.thymeleaf.org">
    <img class="blockBg" th:src="@{/images/page-img1.jpg}">
    <div class="block-words block2-div">
        <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">极致工艺，舒适手感</p>
        <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
            豪华的回火线设计，极小的空间，舒适的手感，便捷的按钮布局以及便捷的安装系统
        </p>
    </div>
</div>
<div class="block block2"  xmlns:th="http://www.thymeleaf.org">
    <img class="blockBg" th:src="@{/images/page-img2.jpg}">
    <div class="block-content">
        <div class="container">
            <div class="block-cont-left white_color">
                <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">符合人手尺寸，更加舒适</p>
                <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
                    双路无线麦克风默认选项
                </p>
                <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.4s" data-occur="1">
                    使用LCD进行K歌，显示歌曲号码、麦克风音量等信息
                </p>
                <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.6s" data-occur="1">
                    麦克风带有遥控器，更加方便点歌
                </p>
            </div>
        </div>
    </div>
</div>
<div class="block block3"  xmlns:th="http://www.thymeleaf.org">
    <img class="blockBg" th:src="@{/images/page-img3.jpg}">
    <div class="block3-cont white_color">
        <div class="container">
            <div class="block3-content">
                <img class="searchDevice sdw-animate" th:src="@{/images/ykq.png}" data-start="{&quot;transform&quot;:&quot;translate3d(0,0,0) &quot;}"
                     data-end="{&quot;transform&quot;:&quot;translate3d(50px,-50px,0) &quot;}" data-speed="1500" data-delay="0s"
                     data-occur="1">
                <img class="searchDeviceXh sdw-animate" th:src="@{/images/ykq_xh.png}" data-start="{&quot;opacity&quot;:&quot;0&quot;}"
                     data-end="{&quot;opacity&quot;:&quot;1&quot;}" data-speed="1500" data-delay="1.2s"
                     data-occur="1">
                <div class="block2-div">
                    <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,30px,0) &quot;}"
                       data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0) &quot;}" data-speed="1500" data-delay="0.2s"
                       data-occur="1">红外线遥控器，便于使用</p>
                    <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,30px,0) &quot;}"
                       data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0) &quot;}" data-speed="1500" data-delay="0.4s"
                       data-occur="1">除了麦克风上面配有遥控器外，我们还专门为点歌机配备了红外线遥控器</p>
                    <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,30px,0) &quot;}"
                       data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0) &quot;}" data-speed="1500" data-delay="0.6s"
                       data-occur="1">各种点歌功能均可实现，便于使用</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block block4"  xmlns:th="http://www.thymeleaf.org">
    <div class="block2-div">
        <div class="container">
            <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">接口展示</p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">接口连接直观易操作，告别复杂繁琐</p>
            <img class="pageImg" th:src="@{/images/page-img-4.jpg}">
        </div>
    </div>
</div>
<div class="block block1" xmlns:th="http://www.thymeleaf.org">
    <img class="blockBg" th:src="@{/images/page-img-5.jpg}">
    <div class="block-words block2-div">
        <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">1080P高清输出，畅享高清视觉</p>
        <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">
            流畅高清画质，支持外接U盘播放、歌曲、电影功能，输出HD1080P
        </p>
    </div>
</div>
<div class="block block4" xmlns:th="http://www.thymeleaf.org">
    <div class="block2-div">
        <div class="container">
            <p class="title sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0s" data-occur="1">接口展示</p>
            <p class="ctxP sdw-animate" data-start="{&quot;transform&quot;:&quot;translate3d(0,50px,0)&quot;}" data-end="{&quot;transform&quot;:&quot;translate3d(0,0px,0)&quot;}" data-speed="1500"  data-delay="0.2s" data-occur="1">接口连接直观易操作，告别复杂繁琐</p>
            <div class="block6-cont text-left">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block6_div sdw-animate" data-start="{&quot;opacity&quot;:&quot;0&quot;}" data-end="{&quot;opacity&quot;:&quot;1&quot;}" data-speed="800"  data-delay="0s" data-occur="1">
                            <div class="page-img6-icon">
                                <img th:src="@{/images/page-img6-icon1.jpg}">
                            </div>
                            <div class="block6_div_block">
                                <p class="ctxP sdw-animate">30万云端歌库</p>
                                <p class="f-14 sdw-animate">巨资打造强劲云端服务器，国内歌曲30万，</p>
                                <p class="f-14 sdw-animate">全球歌曲200万，每月稳定更新。</p>
                            </div>
                        </div>
                        <div class="block6_div sdw-animate" data-start="{&quot;opacity&quot;:&quot;0&quot;}" data-end="{&quot;opacity&quot;:&quot;1&quot;}" data-speed="800"  data-delay="0.6s" data-occur="1">
                            <div class="page-img6-icon">
                                <img th:src="@{/images/page-img6-icon2.jpg}">
                            </div>
                            <div class="block6_div_block">
                                <p class="ctxP sdw-animate">流式下载技术</p>
                                <p class="f-14 sdw-animate">采用流式下载技术，边下边K，不用等待</p>
                                <p class="f-14 sdw-animate">用户体验更好、更加节约时间、省流量。</p>
                            </div>
                        </div>
                        <div class="block6_div sdw-animate" data-start="{&quot;opacity&quot;:&quot;0&quot;}" data-end="{&quot;opacity&quot;:&quot;1&quot;}" data-speed="800"  data-delay="1.2s" data-occur="1">
                            <div class="page-img6-icon">
                                <img th:src="@{/images/page-img6-icon3.jpg}">
                            </div>
                            <div class="block6_div_block">
                                <p class="ctxP sdw-animate">专业评分功能</p>
                                <p class="f-14 sdw-animate">专业评分技术，满足您对K歌的极致追求</p>
                                <p class="f-14 sdw-animate">下一个歌手就是你！</p>
                            </div>
                        </div>
                        <div class="block6_div sdw-animate" data-start="{&quot;opacity&quot;:&quot;0&quot;}" data-end="{&quot;opacity&quot;:&quot;1&quot;}" data-speed="800"  data-delay="1.8s" data-occur="1">
                            <div class="page-img6-icon">
                                <img th:src="@{/images/page-img6-icon4.jpg}">
                            </div>
                            <div class="block6_div_block">
                                <p class="ctxP sdw-animate">人人唱APK</p>
                                <p class="f-14 sdw-animate">音特产品专用K歌软件，扫描屏幕二维码</p>
                                <p class="f-14 sdw-animate">连接K歌，零加载、少流量、多功能、高音质。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="pageImg6" th:src="@{/images/page-img-6.jpg}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block block4">
    <div class="block_title">
        <p class="title sdw-animate">其他K歌功能</p>
        <p class="ctxP sdw-animate">
            快乐的生活K出来
        </p>
    </div>
    <div class="container" xmlns:th="http://www.thymeleaf.org">
        <div class="block7-function">
            <div class="row">
                <div class="col-md-6">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-jm1.jpg}">
                        <p class="ass-p ctxP sdw-animate">歌星点歌</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-jm2.jpg}">
                        <p class="ass-p ctxP sdw-animate">点歌主界面</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-jm3.jpg}">
                        <p class="ass-p ctxP sdw-animate">围棋</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-jm4.jpg}">
                        <p class="ass-p ctxP sdw-animate">游戏</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-jm5.jpg}">
                        <p class="ass-p ctxP sdw-animate">乐谱演奏</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-jm6.jpg}">
                        <p class="ass-p ctxP sdw-animate">飞镖</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block block4" xmlns:th="http://www.thymeleaf.org">
    <div class="block_title">
        <p class="title sdw-animate">多媒体功能</p>
        <p class="ctxP sdw-animate">
            不仅仅可以K歌，还可以玩游戏、看电视、看照片等等
        </p>
    </div>
    <div class="container">
        <div class="block7-function">
            <div class="row">
                <div class="col-md-6">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-gn1.jpg}">
                        <p class="ass-p ctxP sdw-animate">电影</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-gn2.jpg}">
                        <p class="ass-p ctxP sdw-animate">游戏</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block block1" xmlns:th="http://www.thymeleaf.org">
    <div class="block2-div">
        <p class="title sdw-animate">E5包装清单</p>
    </div>
    <div class="container">
        <div class="block8-function">
            <div class="row">
                <div class="col-lg-6 col-md-7 ">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass1.jpg}">
                                <p class="ass-p ctxP sdw-animate">主机</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass2.jpg}">
                                <p class="ass-p ctxP sdw-animate">麦克风</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass3.jpg}">
                                <p class="ass-p ctxP sdw-animate">遥控器</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass4.jpg}">
                                <p class="ass-p ctxP sdw-animate">歌库</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass5.jpg}">
                                <p class="ass-p ctxP sdw-animate">电池</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass6.jpg}">
                                <p class="ass-p ctxP sdw-animate">包装布袋</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass7.jpg}">
                                <p class="ass-p ctxP sdw-animate">U盘</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass8.jpg}">
                                <p class="ass-p ctxP sdw-animate">音频线</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass9.jpg}">
                                <p class="ass-p ctxP sdw-animate">音频线</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass10.jpg}">
                                <p class="ass-p ctxP sdw-animate">说明书</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass11.jpg}">
                                <p class="ass-p ctxP sdw-animate">电源适配器</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ass-jm-div">
                                <img class="ass-img" th:src="@{/images/e5-ass11.jpg}">
                                <p class="ass-p ctxP sdw-animate">音频线</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="ass-jm-div">
                        <img class="ass-img" th:src="@{/images/e5-ass.jpg}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>